<div class="article article-career">
  <div class="container">
    <div class="d-none d-lg-block">
      {% render 'breadcrumb-snippets' type: 'blog', blog: blog %}
    </div>
    <div class="d-flex article__tags">
      {%- for tag in article.tags -%}
        {%- assign tag_title = tag | split: '_' | last -%}
        {%- assign badge_style = tag | split: '_' | first -%}
        <div class="badge {{badge_style}}">
          <span>{{tag_title}}</span>
        </div>
      {%- endfor -%}
    </div>
    <div class="row">
      <div class="col-12 col-lg-8">
        <article>
          <div class="title">
            <h2>{{article.title}}</h2>
          </div>
          <div class="content">{{article.content}}</div>
        </article>
      </div>
      <div class="col-12 col-lg-4">
        {%- form 'contact' -%}
          <div class="text-center form-title">
            <h4>{{ 'article_template.career.form_title' | t}}</h4>
          </div>
          <div class="form-group">
            <label for="full_name">{{ 'form.full_name' | t}}</label>
            <input type="text" placeholder="{{ 'form.full_name_placeholder' | t}}" name="contact[Full Name]" id="full_name">
          </div>
          <div class="form-group">
            <label for="email">{{ 'form.email' | t}}</label>
            <input type="text" placeholder="{{ 'form.email_placeholder' | t}}" name="contact[Email]" id="email">
          </div>
          <div class="form-group">
            <label for="phone">{{ 'form.phone' | t}}</label>
            <input type="text" placeholder="{{ 'form.phone_placeholder' | t}}" name="contact[Phone]" id="phone">
          </div>
          <div class="form-group">
            <label for="message">{{ 'form.message' | t}}</label>
            <textarea type="text" placeholder="{{ 'article_template.career.form_message_placeholder' | t}}" name="contact[Message]" id="message"></textarea>
          </div>
          <button type="submit" class="w-100 btn btn-2">{{ 'article_template.career.form_button' | t}}</button>
        {%- endform -%}
      </div>
    </div>
    <div class="related-article">
      <div class="related-article__wrapper">
        <div class="heading text-center">
          <div class="title">
            <h3>{{ 'article_template.career.related_article_html' | t}}</h3>
          </div>
        </div>
        <div class="related-article__list">
          <div class="row">
            {%- for article in blog.articles limit: 4-%}
              <div class="col-12 col-lg-3 related-article__item">
                {% render 'card-template' type: 'career-small'm article: article %}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>