{% liquid 
  assign features_list = "Smart Mega Menu,Wishlist & Compare app,Autocomplete Search,Sales Notification,Exit Discount,Multi-currency,Custom FAQ Page,Flexible Product Swatch Ever,Product Upsell,Related Product,Product Page Tabs,EU Policy Notice,Optimized Cart,Sticky Cart,Countdown Timer,Social Proof,Direct to Checkout,Free+Shipping,Urgency Box,FOMO Popup Notification" | split: ','
  assign features_count = 0 
%}
<div class="product product-page" data-section-id="product" data-section-type="product-theme">
  <div class="container">
    <div class="product__wrapper">
      <div class="d-none d-lg-block">
        {% render 'breadcrumb-snippets' type: 'themes' %}
      </div>
      <div class="product__block__detail">
        <div class="product-detail">
          <div class="product-detail__content">
            <div class="title">
              <h2>{{product.title}}</h2>
            </div>
            <div class="price">
              <span>{{product.price | money}}</span>
            </div>
            <div class="description">
              {{product.description}}
            </div>
            {%- if product.metafields.c_f.total_variant != blank -%}
              <div class="total-variant">
                <span>{{ 'product_template.themes.total_variant' | t: count: product.metafields.c_f.total_variant}}</span>
              </div>
            {%- endif -%}
            <div class="form">
              {%- form 'product', product -%}
                <div class="swatch">
                  {%- for option in product.options_with_values -%}
                    <div class="swatch-element">
                      <label for="product_style">{{ option.name }}</label>
                      <div class="select-group">
                        <select id="option_{{option.position}}" class="single-option-selector" data-index="option{{option.position}}">
                          {%- for value in option.values -%}
                            <option value="{{value}}">{{value}}</option>
                          {%- endfor -%}
                        </select>
                        {% render 'svg' type: 'angle-down' %}
                      </div>
                    </div>
                  {%- endfor -%}
                </div>
                
                <button class="js-add-to-card btn btn-3 btn-buy">{{ 'product_template.themes.buy_theme' | t}}</button>
                {%- if product.metafields.c_f.demo_link != blank -%}
                  <a href="{{product.metafields.c_f.demo_link}}" class="btn btn-2 btn-view-more text-center">{{ 'product_template.themes.view_demo' | t}}</a>
                {%- endif -%}
                <select name="id" id="master_select" class="d-none no-js">
                  {% for variant in product.variants %}
                    <option 
                      value="{{ variant.id }}" 
                      {%- unless variant != current_variant %}selected{%- endunless -%}
                      {%- unless variant.available %}disabled{% endunless %}
                      >
                      {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                    </option>
                  {% endfor %}
                </select>
              {%- endform -%}
            </div>
          </div>
          <div class="product-image">
            <div class="image">
              {% render 'image-style' image: product.featured_image %}
            </div>
          </div>
        </div>
      </div>
      {% liquid 
        assign isShowFeatures = false
        for i in (1..12)
          assign key = 'icon_box_' | append: i 
          if product.metafields.c_f[key] 
            assign isShowFeatures = true
            break
          endif  
        endfor
      %}

      {%- if isShowFeatures -%}
        <div class="product__block__features">
          <div class="product-features">
            <div class="product-features__header">
              <div class="title">
                <span>{{ 'product_template.themes.features.title' | t}}</span>
              </div>
              <div class="subtitle">
                <span>{{ 'product_template.themes.features.subtitle' | t}}</span>
              </div>
            </div>
            <div class="product-features__content">
              <div class="row">
                {%- for i in (1..20) -%}
                  {%- assign icon = 'icon_box_' | append: i -%}
                  {%- assign svg = 'product_icon_box_' | append: i -%}
                {%- if product.metafields.c_f[icon] -%}
                  {%- assign features_count = features_count | plus: 1 -%}
                  <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-5th {% if i > 10 %}d-none d-md-block{%- endif -%}">
                    <div class="text-center product-features__item">
                      {% render 'svg' type: svg %}
                      {%- assign features_index  = i | minus: 1  -%}
                      <p class="label">{{features_list[features_index]}}</p>
                    </div>
                  </div>
                {%- endif -%}
                {%- endfor -%}
              </div>
              {%- if features_count > 10 -%}
                <div class="d-sm-none js-collapse collapse">
                  <div class="row">
                    {%- for i in (11..20) -%}
                      {%- assign icon = 'icon_box_' | append: i -%}
                      {%- assign svg = 'product_icon_box_' | append: i -%}
                    {%- if product.metafields.c_f[icon] -%}
                      <div class="col-6 col-sm-4 col-md-4 col-lg-5th">
                        <div class="text-center product-features__item">
                          {% render 'svg' type: svg %}
                          {%- assign features_index  = i | minus: 1  -%}
                          <p class="label">{{features_list[features_index]}}</p>
                        </div>
                      </div>
                    {%- endif -%}
                    {%- endfor -%}
                  </div>
                </div>
                <div class="d-sm-none btn-view-more js-toggle-collapse">
                  <span>{{'button.view_more' | t}}</span>
                  {% render 'svg' type: 'angle-down' %}
                  {% render 'svg' type: 'angle-up' %}
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endif -%}

      {% liquid 
        assign isShowMode = false
        for i in (1..12)
          assign key = 'product_theme_mode_' | append: i 
          if product.metafields.c_f[key] 
            assign isShowMode = true
            break
          endif  
        endfor
      %}

      {%- if isShowMode -%}
        <div class="product__block__mode">
          <div class="product-mode">
            <div class="product-mode__header">
              <div class="title">
                <h3>{{ 'product_template.themes.mode.title' | t}}</h3>
              </div> 
              <div class="product-mode__content">
                <ul class="list">
                  {%- assign mode_list = "Flexibility Description Tabs,Cart type,Support Dynamic Check Out,Free Shipping Threshold,Auto Curency Swithcher,Mobile UI Optimize,Catalog Mode,Exit Intend Discount Popup,Fomo Product Sales,Ajax Cart Option,Multicolor,Google Translate," | split: "," -%}
                  {%- for i in (1..12) -%}
                    {%- assign key = 'product_theme_mode_' | append: i -%}
                    {%- if product.metafields.c_f[key] -%}
                      {%- assign index = i | minus: 1 -%}
                      <li>{{mode_list[index]}}</li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
      <div class="product__block__related">
        <div class="product-related">
          <div class="featured-collection">
            <div class="featured-collection__wrap">
              <div class="featured-collection__title text-{{text_align}} section_title-wrapper">
                <div class="heading section_title-text-1">
                  <span class="content">{{ 'product_template.themes.related.title' | t}}</span>
                </div>
              </div>
              <div class="featured-collection__content">
                <div class="js-tns" data-config='tns_config_{{product.id}}'>
                  {%- unless collection -%}
                    {%- assign collection  = product.collections.first -%}
                  {%- endunless -%}

                  {%- for p in collection.products -%}
                      {%- if p.id != product.id -%}
                        <div class="featured-collection__item">
                          {%- render 'card-template', type: 'product', product: p -%}
                        </div>
                      {%- endif -%}
                  {%- endfor -%}
                </div>
                <div class="js-tns-controls section-{{section.id}} d-none">
                  <div class="btn-prev">
                    {% render 'svg', type: 'angle-left'  %}
                  </div>
                  <div class="btn-next">
                    {% render 'svg', type: 'angle-right'  %}
                  </div>
                </div>
                <script type="application/ld+json" id="tns_config_{{product.id}}">
                  {
                    "loop": false,
                    "nav": false,
                    "mouseDrag" : true,
                    "swipeAngle" : false,
                    "preventActionWhenRunning": true,
                    "preventScrollOnTouch": false,
                    "slideBy": 1,
                    "responsive": {
                      "1": {
                        "items": 1.7,
                        "gutter": 25
                      },
                      "479": {
                        "items": 2.5
                      },
                      "768": {
                        "items": 3
                      },
                      "992": {
                        "items": 3.5,
                        "gutter": 35
                      },
                      "1052": {
                        "items": 4,
                        "gutter": 30
                      },
                      "1440": {
                        "items": 5
                      }
                    }
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="application/ld+json" id="product_json">
{{product | json}}
</script>