{% comment %} <div id="searchresults">  
  <form action="/search" method="get">
    <p><input type="text" name="q" value="{{search.terms  | escape}}" id="result-q" /> <input type="submit" value="Search" style="width:100px" /></p>
  </form>
  
  {% if search.performed %}
    
    {% paginate search.results by 10 %}  
  
    {% if search.results == empty %}  
      <p>Your search for "{{search.terms | escape}}" did not yield any results</p>              
    {% else %}  

        <ol>
        {% for item in search.results %}      
        <li>
          <h3>{{ item.title | link_to: item.url }}</h3>
          {% if item.featured_image %}
          <div class="result-image"><a href="{{item.url}}" title="">{{ item.featured_image | product_img_url: 'small' | img_tag }}</a></div>
          {% endif %}
          <span>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</span>
          <div style="clear:left"></div>          
        </li>
        {% endfor %}
        </ol>      

    {% endif %}
    
    
    <p>{{ paginate | default_pagination }}</p>
    
    {% endpaginate %}    
    
  {% endif %}
  
  
  

</div> {% endcomment %}

<div class="page page-search-results">

{%- capture themes_content -%}{%- endcapture -%} 
{%- capture apps_content -%}{%- endcapture-%}
{%- capture posts_content -%}{%- endcapture-%}
{% liquid 
  assign limit = search.results_count
  assign themes_count =  0
  assign apps_count = 0
  assign posts_count = 0  
%}

{% paginate search.results by limit %}

  {%- for item in search.results -%}

    {%- case item.object_type -%}
      {%- when 'article' -%}
        {%- capture content -%}
          <div class="col-12 col-lg-5th">
            <div class="article">
              <div class="image">
                <a href="{{item.url}}">
                  {% render 'image-style' image: item.image, imagePadding: "55%" %}
                </a>
              </div>
              <div class="article-info">
                <div class="post-day">
                  <span>{{item.published_at | date: '%b %d, %Y'}}</span>
                </div>
                <div class="title">
                  <a href="{{item.url}}">
                    <span>{{item.title}}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {%- endcapture -%}
        {%- assign posts_count = posts_count | plus: 1 -%}

        {%- if posts_count <= 10 -%}
          {%- assign posts_content = posts_content | append: content -%}
        {%- endif -%}
      {% comment %} end {% endcomment %}
      {%- when 'product' -%}
        {%- assign type = item.type -%}
        {%- if type contains 'theme' or type contains 'themes' or type contains 'Theme' or type contains 'Themes' or type contains 'THEME' or type contains 'THEMES'-%}
          {%- assign product_type = 'themes' -%}
        {%- endif -%}

        {%- if type contains 'app' or type contains 'apps' or type contains 'App' or type contains 'Apps' or type contains 'APP' or type contains 'APPS'-%}
          {%- assign product_type = 'apps' -%}
        {%- endif -%}
        {%- case product_type -%}
          {%- when 'themes' -%}
            {%- capture content -%}
              <div class="col-12 col-lg-5th">
                {% render 'card-template' type: 'product', product: item %}
              </div>
            {%- endcapture -%}
            {%- assign themes_count = themes_count | plus: 1 -%}
            {%- if themes_count <= 10 -%}
              {%- assign themes_content = themes_content | append: content -%}
            {%- endif -%}
            {%- assign product_type = '' -%}
          {% comment %} end {% endcomment %}
          {%- when 'apps' -%}
            {%- capture content -%}
              <div class="col-12 col-md-6 col-lg-5th">
                {% render 'card-template' type: 'app', product: item %}
              </div>
            {%- endcapture -%}
            {%- assign apps_count = apps_count | plus: 1 -%}
            {%- if apps_count <= 10 -%}
              {%- assign apps_content = apps_content | append: content -%}
            {%- endif -%}
            {%- assign product_type = '' -%}
          {% comment %} end {% endcomment %}
        {%- endcase -%}

    {%- endcase -%}


  {%- endfor -%}

{% endpaginate %}
  <div class="container">

    <div class="page__wrapper">
      <div class="page-block">
        <div class="page-title">
           <div class="title">
            <span>{{ 'search.title' | t: terms: search.terms , results_count: search.results_count }}</span>
           </div>
        </div>
      </div>
      <div class="page-block">
        <div class="theme-results">
          <div class="title">
            <span>{{ 'search.themes' | t}}</span>
          </div>
          <div class="theme-results__content">
            <div class="row">
              {{themes_content}}
            </div>
          </div>
        </div>
      </div>
      <div class="page-block">
        <div class="apps-results">
          <div class="title">
            <span>{{ 'search.apps' | t}}</span>
          </div>
          <div class="apps-results__content">
            <div class="row">
              {{apps_content}}
            </div>
          </div>
        </div>
      </div>
      <div class="page-block">
        <div class="post-results">
          <div class="title">
            <span>{{ 'search.posts' | t}}</span>
          </div>
          <div class="post-results__content">
            <div class="row">
              {{posts_content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>