

<div class="page page-account">
  <div class="page__wrapper">
    <div class="page-breadcrumb">
      <div class="container">
        {% render 'breadcrumb-snippets'  %}
      </div>
    </div>
    <div class="page-content">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-12 col-md-4">
            <div class="account-details">
              <h4>{{'customer.account.details' | t }}</h4>

              <div class="info">
                <div class="name">
                  {% render 'svg' type: 'user' %}
                  <span>{{ customer.first_name }} {{customer.last_name }}</span>
                </div>
                <div class="email">
                  {% render 'svg' type: 'email' %}
                  <span>{{ customer.email }}</span>
                </div> 
                {% if customer.default_address != nil %}
                  <div class="address">
                    {% render 'svg' type: 'location' %}
                    <span>
                      {{ customer.default_address.address1 }} {{ customer.default_address.address2 }}{% if customer.default_address.city != empty and customer.default_address.city != blank %}, {{ customer.default_address.city}}{% endif %}, {% if customer.default_address.country != empty and customer.default_address.country != blank %} {{customer.default_address.country}}{% endif %} {{ customer.default_address.zip}} 
                    </span>
                  </div>
                {% endif %}
              </div>

              <a href="/account/addresses" class="btn btn-1">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
              <a href="/account/logout" class="btn btn-2">{{ 'customer.account.log_out' | t }}</a>
            </div>
          </div>
        
          <div id="col-main" class="col-sm-12 col-md-8">
            <div id="customer_orders">

              <h4>{{'customer.orders.title' | t }}</h4>
              {% if customer.orders.size != 0 %}
              <div class="table-wrapper">
                <table>
                  <thead>
                    <tr>
                      <th class="order_number">{{'customer.orders.order_number' | t }}</th>
                      <th class="date">{{'customer.orders.date' | t }}</th>
                      <th class="payment_status">{{'customer.orders.payment_status' | t }}</th>
                      <th class="fulfillment_status">{{'customer.orders.fulfillment_status' | t }}</th>
                      <th class="total">{{'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in customer.orders %}
                      <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                        <td>{{ order.name | link_to: order.customer_url }}</td>
                        <td><span class="note">{{ order.created_at | date: "%b, %d %Y" }}</span></td>
                        <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
                        <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
                        <td><span class="total">{{ order.total_price | money }}</span></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
                <div class="alert alert-success">
                  <p>{{'customer.orders.none' | t }}</p>
                </div>
              {% endif %}

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>