{% layout 'customer' %}


<div class="login">
  <div class="login__top">
    <div class="title">{{'layout.customer.login.title' | t}}</div>
    <div class="subtitle">
      {%- capture link -%} <a href="/account/register">{{'layout.customer.login.create' | t}}</a> {%- endcapture-%}
      <span>{{ 'layout.customer.login.subtitle_html' | t: link: link}}</span>
    </div>
    <div class="login-other">
      <div class="login-fb">
        <a href="javascript:void(0)" class="btn" id="btn-login-fb">
          {% render 'svg' type:'icon-fb' %}
          <span>{{'layout.customer.login.login_with_fb' | t}}</span>
        </a>
      </div>
      <div class="login-gg">
        <a href="javascript:void(0)" class="btn" id="btn-login-gg">
          {% render 'svg' type:'icon-gg' %}
          <span>{{'layout.customer.login.login_with_gg' | t}}</span>
        </a>
      </div>
    </div>
    <div class="linking-words">
      <span>{{'layout.linking_words' | t}}</span>
    </div>
  </div>
  <div class="login__body">
    {%- form 'customer_login' -%}
      <div class="form-group">
        <label for="customer_email">{{'layout.email_label' | t}}</label>
        <input type="text" class="form-control" name="customer[email]" placeholder="{{'layout.placeholder_email' | t}}">
      </div>
      <div class="form-group">
        <div class="label-group"> 
          <label for="customer_password">{{'layout.password_label' | t}}</label>
          <a href="/account/login#recover">{{'layout.customer.login.forgot_password' | t}}</a>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" name="customer[password]" placeholder="{{'layout.placeholder_password' | t}}">
          {% render 'svg' type: 'eye-on' %}
          {% render 'svg' type: 'eye-off' %}
        </div>
      </div>
      <div class="form-group">
        <input type="checkbox" class="form-check" id="remember">
        <label for="remember">{{ 'layout.customer.login.remember' | t}}</label>
      </div>
      <button type="submit">{{'layout.customer.login.button_label' | t}}</button>
    {%- endform -%}
  </div>
</div>
