{% layout 'customer' %}

<div class="register">
  <div class="register__top">
    <div class="title">{{'layout.customer.register.title' | t}}</div>
    <div class="subtitle">
      {%- capture link -%} <a href="/account/register">{{'layout.customer.register.login_link' | t}}</a> {%- endcapture-%}
      <span>{{ 'layout.customer.register.subtitle_html' | t: link: link}}</span>
    </div>
    <div class="register-other">
      <div class="register-fb">
        <a href="javascript:void(0)" class="btn" id="btn-register-fb">
          {% render 'svg' type:'icon-fb' %}
          <span>{{'layout.customer.register.register_with_fb' | t}}</span>
        </a>
      </div>
      <div class="register-gg">
        <a href="javascript:void(0)" class="btn" id="btn-register-gg">
          {% render 'svg' type:'icon-gg' %}
          <span>{{'layout.customer.register.register_with_fb' | t}}</span>
        </a>
      </div>
    </div>
    <div class="linking-words">
      <span>{{'layout.linking_words' | t}}</span>
    </div>
  </div>
  <div class="register__body">
    {%- form 'create_customer' -%}
      <div class="form-group">
        <label for="customer_full_name">{{'layout.customer.register.full_name' | t}}</label>
        <input type="text" id="customer_full_name" class="form-control" name="customer[full_name]" placeholder="{{'layout.customer.register.placeholder_full_name' | t}}">
      </div>	
      <div class="form-group">
        <label for="customer_email">{{'layout.email_label' | t}}</label>
        <input type="text" id="customer_email" class="form-control" name="customer[email]" placeholder="{{'layout.placeholder_email' | t}}">
      </div>
      <div class="form-group">
        <label for="customer_password">{{'layout.password_label' | t}}</label>
        <div class="input-group">
          <input type="text" id="customer_password" class="form-control" name="customer[password]" placeholder="{{'layout.placeholder_password' | t}}">
          {% render 'svg' type: 'eye-on' %}
          {% render 'svg' type: 'eye-off' %}
          <span class="form-text">{{'layout.customer.register.condition_password' | t}}</span>
        </div>
      </div>
      <div class="form-group">
        <button type="submit">{{'layout.customer.register.button_label' | t}}</button>
        {%- capture link_note -%} <a href="#">{{'layout.customer.register.terms_vs_conditions' | t}}</a> {%- endcapture-%}
        <span class="form-text">{{'layout.customer.register.note_html' | t : link: link_note}}</span>
      </div>
    {%- endform -%}
  </div>
</div>