<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    {%- if settings.favicon != nil -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- else -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {%- endif -%}
    <meta charset="utf-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width,initial-scale=1, user-scalable=0"/>
    <meta name="google" content="notranslate">
    <meta name='HandheldFriendly' content='True'>
    <meta name='MobileOptimized' content='360'>
    <meta http-equiv="cleartype" content="on">
    <meta name="theme-color" content="{{ settings.main_color }}">
    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
    {%- endif -%}
    {% render 'fb-open-graph'  %}
    <title>{%- include 'page-title' -%}</title>

    <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com">
    <link rel="preconnect dns-prefetch" href="https://v.shopify.com">
    <link rel="preconnect dns-prefetch" href="https://cdn.shopifycloud.com">
    <link rel="preconnect dns-prefetch" href="{{ shop.url }}">
    <link rel="preload" href="{{ 'main_style.css' | asset_url}}" as="style">
    {% if template contains index %}<link rel="preload" href="{{ 'section-home.css' | asset_url}}" as="style">{%- endif -%}
    {{ content_for_header }}
    {% render 'google-font'  %}
	  {% include 'css_variables' %} 

    {{ 'main_style.css' | asset_url | stylesheet_tag }}
    {{ 'header-footer.css' | asset_url | stylesheet_tag }} 
    {%- if template contains 'index'-%}
      {{ 'section-home.css' | asset_url | stylesheet_tag }}
    {%- elsif template contains 'product'-%}
      {{ 'product-page.css' | asset_url | stylesheet_tag }}
    {%- elsif template contains 'collection' -%}
      {{ 'categories-page.css' | asset_url | stylesheet_tag }}
    {%- else -%}
      {{ 'other-page.css' | asset_url | stylesheet_tag }}
    {%- endif -%}      
    
    
  </head>

  {%- capture themeClass -%}template-{{ template | replace: '.', ' ' | replace: '/', ' ' | split: ' ' | first -}}{%- endcapture -%}

  {%- assign arr = template | replace: '.', ' ' | replace: '/', ' ' | split: ' ' -%}

  {%- if arr.size > 1 -%}
    {%- capture subThemeClass -%}template-{{ template | replace: '.', ' ' | replace: '/', ' ' | split: ' ' | join: '-' -}}{%- endcapture -%}
  {%- endif -%}

  <body class="{{themeClass}} {{subThemeClass}}" test="{{template}}">
    <div class="lazyload" data-include="{{routes.root_url}}?section_id=mobile-bar (max-width: 992px), {{routes.root_url}}?section_id=none"></div>
    <div class="boxed-wapper">
      {%- section "header" -%}
      <main id="main-content">
        {{ content_for_layout }}
      </main>
      {% comment %} {% section "footer" %} {% endcomment %}
      <div class="lazyload" data-include="{{routes.root_url}}?section_id=footer"></div>
      
      {% render "back-to-top"  %}
    </div>
    {% render "mustache-template"  %}
    {%- include 'js-loader' -%}
    <script>
      Loader.require("lazysizes", "scripts");
      Loader.require("lazysizes.plugin", "scripts");
      Loader.require("mustache", "scripts");
      Loader.require("tiny", "scripts");
      {% case template %}
        {%- when "index" -%}
          Loader.require("home", "scripts");
        {%- when "collection.themes" -%}
          Loader.require("collection-themes", "scripts");
        {%- when "collection.apps" -%}
          Loader.require("collection-apps", "scripts");
        {%- when "collection.task" -%}
          Loader.require("collection-task", "scripts");
        {%- when "product.theme" -%}
          Loader.require("product-theme", "scripts");
        {%- when "collection.sub-task-with-plan" -%}
          Loader.require("collection-plan", "scripts");
        {%- when "product.task" -%}
          Loader.require("product-task", "scripts");
        {%- when "collection.sub-task" -%}
          Loader.require("collection-subtask", "scripts");
        {%- when 'cart' -%}
          Loader.require("cart","scripts");
        {%- else -%}
          Loader.require('other', 'scripts');
      {%- endcase %}
      
      var theme = {
        currency: {
          money: {{shop.money_format | json}}
        },
        themes_title: "{{ 'general.shopify_themes' | t}}",
        apps_title: "{{ 'general.shopify_apps' | t}}",
        popular_articles: "{{ 'general.popular_articles' | t}}",
      }
      window.addEventListener('load', function(){
        Loader.load()
      })
    </script> 
  </body>
</html>