{%- assign current_article = false -%}

{%- for a in blog.articles -%}

  {%- if current_article -%}
    {%- assign next_article = a -%}
    {%- break -%}
  {%- endif -%}

  {%- if a.id == article.id -%}
    {%- assign current_article = true -%}
  {%- else -%}
    {%- assign previous_article = a -%}
  {%- endif -%}

{%- endfor -%}

{%- assign article_content = a.content | split: "<!-- anchor-link -->" -%}
    {%- for c in article_content -%}
      {%- if c contains "<!-- /anchor-link -->" -%}
        {%- assign anchor_link = c | split: "<!-- /anchor-link -->"| first  -%} 
        {%- assign anchor_links = anchorL_links | append: anchor_link -%}
        {%- unless forloop.last -%}
          {%- assign anchor_links = anchorL_links | append: ',' -%}
        {%- endunless -%}
      {%- endif -%}
    {%- endfor -%}

{%- capture anchor_links -%}{%- endcapture-%}

{%- capture article_content -%}
  {% liquid 
    assign article_content = article.content | split: "<!-- clipboard -->" 
    for c in article_content
      assign index =  forloop.index
      if c contains "<!-- /clipboard -->"
        assign custom_tag =  " id='content-copy-" | append: forloop.index | append: "'>"
        assign first_content = c | split: "<!-- /clipboard -->" | first | replace_first: ">", custom_tag
        assign last_content = c | split: "<!-- /clipboard -->" | last

        echo "<code class='copy-to-clipboard'>"
        echo first_content
        echo 'article_template.default.btn_copy_clipboard_html' | t: index: forloop.index
        echo "</code>"
        
        if last_content contains "<!-- anchor-link -->"
          assign new_custom_tag = " id='anchor-link-" | append: forloop.index | append: "'>"
          assign new_first_content = last_content | split: "<!-- anchor-link -->" | first
          assign new_last_content = last_content | split: "<!-- anchor-link -->" | last

          echo new_first_content

          assign new_last_content = new_last_content | split: "<!-- /anchor-link -->"
          assign anchor_content =  new_last_content[0] | replace_first: ">" , new_custom_tag
          assign anchor_links = anchor_links | append: anchor_content | append: ',' 

          echo anchor_content
          echo new_last_content[1]

        else
          echo last_content
        endif
      else
        if c contains "<!-- anchor-link -->"
          assign newC = c | split: "<!-- anchor-link -->"
          for content in newC 
            if content contains "<!-- /anchor-link -->"
              assign custom_tag = " id='anchor-link-" | append: index  | append: '-' | append: forloop.index | append: "'>"
              assign first_content = content | split: "<!-- /anchor-link -->" | first
              assign last_content = content | split: "<!-- /anchor-link -->" | last

              assign anchor_content =  first_content | replace_first: ">" , custom_tag
              assign anchor_links = anchor_links | append: anchor_content | append: ',' 

              echo anchor_content
              echo last_content
            else
              echo content
            endif
          endfor

        else
          echo c
        endif
      endif
    endfor
  %}
{%- endcapture -%}

{%- assign anchor_links = anchor_links | split: "," -%}

{%- capture block_sidebar_custom -%}
  {%- if anchor_links.size != 0 -%}
    <div class="sb-widget">
      <div class="sb-wrapper">
        <div class="sb-sections">
          <div class="title"> 
            <span>Sections</span>
          </div>
          <div class="sb-sections__list">
            {%- for anchor_link in anchor_links -%}
              {%- assign href = anchor_link | split: "'" | slice: 1,1  -%}
              <div class="sb-sections__item {% if forloop.first %}active{%- endif -%}">
                <a href="{{href[0] | prepend: '#'}}">{{anchor_link | strip_html | strip}}</a>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endcapture -%}
<div class="article article-default">
  <div class="container">
    <div class="d-none d-lg-block">
      {% render 'breadcrumb-snippets' type: 'blog' %}
    </div>
    <div class="article__wrapper">
      <div class="row">
        
        <div class="col-12 col-lg-8 order-2 order-lg-1">
          <div class="article__content">
            <div class="header">
              <div class="title">
                <h3>{{article.title}}</h3>
              </div>
              {% render 'article-post-day' post_day: article.published_at, show_author: true %}
              <div class="image">
                {% render 'image-style' image: article.image %}
              </div>
            </div>
            <div class="content">
              {{article_content}}
            </div>
          </div>
          <div class="article__social">
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="article__social__right">
                  {%- assign label = 'article_template.default.social_label' | t -%}
                  {% render 'social' label: label %}
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="article__social__left">
                  {%- if article.tags.size != 0 -%}
                    <div class="article-tags">
                      <div class="article-tags__wrapper">
                        <span>{{ 'general.tags' | t}}</span>
                        <span>
                          {%- for tag in article.tags -%}
                            {%- if forloop.last -%}
                              <i>
                                <a href="{{ tag | within: blog}}" class="article-tag">
                                  {{tag.title}}
                                </a>
                              </i>
                            {%- else -%}
                              <i>
                                <a href="{{ tag | within: blog}}" class="article-tag">
                                  {{tag.title}}
                                </a> ,
                              </i>
                            {%- endif -%}
                          {%- endfor -%}
                        </span>
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
          <div class="article__nav">
            <div class="row">

              {%- if previous_article -%}
                <div class="col-6">
                  <div class="nav-article previous-article">
                    <div class="nav-label">
                      <a href="{{previous_article.url}}">
                        <span class="d-md-none">
                          {% render 'svg' type: 'angle-left' %}
                        </span>
                        <span>{{ 'article_template.default.previous_label' | t}}</span>
                      </a>
                      <div class="d-none d-md-flex nav-article_info">
                        <a href="{{previous_article.url}}" class="image">
                          {% render 'image-style' image: previous_article.image %}
                        </a>
                        <div class="field-group">
                          <div class="title">
                            <a href="{{previous_article.url}}">
                              {{previous_article.title}}
                            </a>
                          </div>
                          {% render 'article-post-day' post_day: previous_article.published_at %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}

              {%- if next_article -%}
                <div class="col-6">
                  <div class="nav-article next-article">
                    <div class="nav-label">
                      <a href="{{next_article.url}}">
                        <span class="d-md-none">
                          {% render 'svg' type: 'angle-right' %}
                        </span>
                        <span>{{ 'article_template.default.next_label' | t}}</span>
                      </a>
                      <div class="d-none d-md-flex nav-article_info">
                        <div class="field-group text-right">
                          <div class="title">
                            <a href="{{next_article.url}}">{{next_article.title}}</a>
                          </div>
                          {% render 'article-post-day' post_day: next_article.published_at %}
                        </div>
                        <a href="{{next_article.url}}" class="image">
                          {% render 'image-style' image: next_article.image %}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 order-1 order-lg-2">
          {% render 'blog-sidebar' section: section, block_custom: block_sidebar_custom  %}
        </div>

      </div>
    </div>
  </div>
</div>

<script type="application/javascript">
  let elm = document.getElementsByClassName('sb-sections__list')[0];

  [...elm.children].forEach(item => {
    item.addEventListener('click', (e) => {
      [...elm.children].forEach( (item)  => {
        if(item.contains(e.target)){
          item.classList.add('active');
        }else{
          item.classList.remove('active')
        }

      });
      
    });
  });
</script>

{% schema %}
  {
    "name" : "Article Default",
    "tag" : "section",
    "settings" : [],
    "blocks" : [
      {
        "type" : "search",
        "name" : "Search",
        "settings" : []
      },
      {
        "type" : "categories",
        "name" : "Categories",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      },
      {
        "type" : "blog_list",
        "name" : "Blog List",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
             "type" : "blog",
             "id"   : "blog",
             "label": "Blog"
          }
        ]
      },
      {
        "type" : "block_custom",
        "name" : "Block custom",
        "settings" : []
      }
    ]
  }
{% endschema %}