{% liquid 
assign banner_image = section.settings.banner_image  
assign banner_title = section.settings.banner_title  
%}



<div class="blog blog-default">
  <div class="container">

    <div class="banner">
      <div class="image">
        {% render 'image-style' image: banner_image %}
        <div class="title">
          <span>{{banner_title}}</span>
        </div>
      </div>
    </div>

    <div class="blog-list">
      <div class="row">
        <div class="col-12 col-lg-8 order-2 order-lg-1">
          <div class="row">
            {%- for article in blog.articles -%}
              {%- if forloop.first -%}
                <div class="col-12">
                  <div class="article article-large">
                    <div class="image">
                      <a href="{{article.url}}">
                        {% render 'image-style' image: article.image, imagePadding: "55%" %}
                      </a>
                    </div>
                    <div class="article-info">
                      <div class="post-day">
                        <span>{{article.published_at | date: '%b %d, %Y'}}</span>
                      </div>
                      <div class="title">
                        <a href="{{article.url}}">
                         <span>{{article.title}}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {%- else -%}
                <div class="col-12 col-lg-6">
                  <div class="article article-small">
                    <div class="image">
                      <a href="{{article.url}}">
                        {% render 'image-style' image: article.image, imagePadding: "55%" %}
                      </a>
                    </div>
                    <div class="article-info">
                      <div class="post-day">
                        <span>{{article.published_at | date: '%b %d, %Y'}}</span>
                      </div>
                      <div class="title">
                        <a href="{{article.url}}">
                         <span>{{article.title}}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
        <div class="col-12 col-lg-4 order-1 order-lg-2">
          <div class="sidebar">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'search' -%}
                  <div class="sb-widget">
                    <div class="sb-wrapper">
                      <div class="sb-search">
                        <form id="search" class="form-search" action="/search" method="get">
                          <input name="q" type="text" class="form-control" placeholder="Search" autocomplete="off">
                          {% render 'svg' type: 'search' %}
                        </form>
                      </div>
                    </div>
                  </div>
                {% comment %} end {% endcomment %}
                {%- when 'categories' -%}
                  {%- assign blog_list = block.settings.blog_list | split: ',' -%}
                  <div class="sb-widget">
                    <div class="sb-wrapper">
                      <div class="sb-categories">
                        <div class="title"> 
                          <span>{{block.settings.title}}</span>
                        </div>
                        <div class="sb-categories__list">
                          {%- for blog_handle in blog_list -%}
                            {%- assign blog_handle_new = blog_handle | strip | strip_newlines -%}
                            <script>console.log({{blog_handle_new | json}})</script>
                            {%- assign blog_selected = blogs[blog_handle_new] -%}
                            {%- if blog_selected != blank -%}
                              <div class="sb-categories__item">
                                <div class="label">
                                  <a href="{{blog_selected.url}}">{{blog_selected.title}}</a>
                                </div>
                                <div class="number">
                                  <span>({{blog_selected.articles_count}})</span>
                                </div>
                              </div>
                            {%- endif -%}
                          {%- endfor -%}
                        </div>
                      </div>
                    </div>
                  </div>
                {% comment %} end {% endcomment %}
                {%- when 'blog_list' -%}
                  <div class="sb-widget">
                    <div class="sb-wrapper">
                      <div class="sb-blog-list">
                        <div class="title">
                          <span>{{block.settings.title}}</span>
                        </div>
                        <div class="sb-blog-list__wrapper">
                          {%- for article in blogs[block.settings.blog].articles -%}
                            <div class="sb-blog-list__item">
                              <div class="article-image">
                                <a href="{{article.url}}">
                                  {% render 'image-style' image: article.image, imagePadding: "100%" %}
                                </a>
                              </div>
                              <div class="article-info">
                                <div class="title">
                                  <a href="{{article.url}}">
                                    <span>{{article.title}}</span>
                                  </a>
                                </div>
                                <div class="post-day">
                                  <span>{{article.published_at | date: '%b %d, %Y'}}</span>
                                </div>
                              </div>
                            </div>
                          {%- endfor -%}
                        </div>
                      </div>
                    </div>
                  </div>
                {% comment %} end {% endcomment %}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name" : "Blog Default",
    "tag" : "section",
    "settings" : [
      {
        "type": "header",
        "content": "Banner Settings"
      },
      {
        "type": "text",
        "id": "banner_title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Image"
      }
    ],
    "blocks" : [
      {
        "type" : "search",
        "name" : "Search",
        "settings" : []
      },
      {
        "type" : "categories",
        "name" : "Categories",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "blog_list",
            "label": {
              "en": "Blog list" 
            },
            "info": {
              "en": "Please enter the blog handle list. Separated by commas."
            }
          }
        ]
      },
      {
        "type" : "blog_list",
        "name" : "Blog List",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
             "type" : "blog",
             "id"   : "blog",
             "label": "Blog"
          }
        ]
      }
    ]
  }
{% endschema %}