{% liquid 
  assign banner_title = section.settings.banner_title 
  assign popular_list = section.settings.popular_list | strip | split: ','
  assign banner_image = section.settings.banner_image 
%}
<div class="collection collection-{{collection.handle}}" data-section-id="{{section.id}}" data-section-type="collection-themes">
  <div class="container">
    <div class="banner">
      <div class="banner__wrapper">
        <div class="textbox">
          <div class="title">
            <h1>{{banner_title}}</h1>
          </div>
          <div class="banner__search">
            <div class="js-search search" data-search-container data-config='search_config_{{collection.id}}'>
              <div class="search-group">
                <form method="get" action="/search" class="search-form">
                  <input type="hidden" name="type" value="product,article,page">
                  <input type="hidden" name="options[prefix]" value="last">
                  {% render 'svg' , type: 'search' %}
                  <a href="javascript:void(0)" class="js-close-search close-search">
                    {% render 'svg' , type: 'close' %}
                  </a>
                  <input type="text" name="q"  class="js-search-input" autocomplete="off"/>
                </form>
                <div class="js-search-results search-result">
                  <div class="no-result">
                    <div class="title">
                      <span>{{ 'search.no_result.title' | t}} "<span class="keyword"></span>"</span>
                    </div>
                    <div class="subtitle">
                      <span>{{ 'search.no_result.subtitle' | t}}</span>
                    </div>
                  </div>
                  <div class="results">
                    <div class="wrapper">
                    </div>
                    <div class="results__btn">
                      <button class="btn btn-2 btn-view-all">{{ 'search.view_all' | t}}</button>
                    </div>
                  </div>
                  <div class="is-loading">
                    {% render 'svg-2' type: 'load' %}
                  </div>
                </div>
              </div>
              <script type="application/ld+json" id="search_config_{{collection.id}}">
                {
                  "parameters": {
                    "resources[type]": "product"
                  },
                  "productType": "themes",
                  "resourcesType" : ["products"]
                }
              </script>
            </div>
          </div>
          {%- if popular_list.size > 0 -%}
            <div class="banner__popular">
              <div class="popular-list">
                <span>{{ 'collections.apps.popular' | t}}</span>
                {%- for popular in popular_list -%}
                  {%- assign popularNew = popular | split: '|' -%}
                  {%- assign text = '1234' | split: '|' -%}
                  {%- if popularNew.size == 2 -%}
                    {%- assign url = popularNew[1] -%} 
                  {%- endif -%}
                  <a href="{{ url | default: 'javascript:void(0)' | strip }}" class="popular-item">{{ popularNew[0] | strip }}</a>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        </div>
        <div class="image">
          {% render 'image-style' image: banner_image %}
        </div>
      </div>
    </div>
    
    <div class="product__content">
      <div class="row">

        <div class="col-12 col-lg-3 sidebar" id="sb_container">
          <div class="d-lg-none sidebar_header">
            <div class="title">
              <span>{{ 'collections.themes.filter' | t}}</span>
              <a href="javascript:void(0)" class="js-sb-toggle" data-target="sb_container" data-role="close">
                {% render 'svg' type: 'close' %}
              </a>
            </div>
            <div class="sort-by">
              <label for="sort_by">{{ 'collections.themes.sort_by' | t}}</label>
              <select name="sort_by" id="sort_by">
                <option value="Most Recent">{{ 'collections.themes.select.option_1' | t}}</option>
              </select>
              {% render 'svg' type: 'angle-down' %}
            </div>
          </div>
          <div class="filter">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'filter_group' -%}
                  {% liquid 
                    assign title = block.settings.title  
                    assign prefix = block.settings.prefix  
                  %}
                  {%- assign tag_list = '' | split: '' -%}
                  {%- for tag in collection.all_tags  -%}
                    {%- assign size = prefix.size -%}
                    {%- assign tag_prefix = tag | slice: 0,size -%}
                    {%- if tag_prefix == prefix -%}
                      {%- capture tag_content -%}
                        <div class="js-filter-item filter-item">
                          <div class="d-flex checkbox">
                            <input type="checkbox" id="filter_item_{{block.id}}_{{forloop.index}}"  value="{{tag | handle}}" {% if current_tags contains tag %}checked{%- endif -%}>
                            <label for="filter_item_{{block.id}}_{{forloop.index}}">{{tag | split: prefix | join: ''}}</label>
                          </div>
                        </div>
                      {%- endcapture -%}
                      {%- assign tag_content = tag_content | split: '<split>' -%}
                      {%- assign tag_list  = tag_list | concat: tag_content -%}
                    {%- endif -%}
                  {%- endfor -%}

                  {%- if tag_list.size > 0 -%}
                    <div class="filter-group">
                      <div class="header">
                        <p>{{title}}</p>
                      </div>
                      <div class="filter-group__body">
                        {{tag_list | join: ''}}
                      </div>
                    </div>
                  {%- endif -%}
                {%- when 'filter_price' -%}
                    {% liquid 
                      assign title = block.settings.title  
                    %}
                  <div class="filter-price">
                    <div class="header">
                      <p>{{title}}</p>
                    </div>
                    <div class="filter-price__body">
                      <div class="row">
                        <div class="col-6">
                          <div class="filter-price__min">
                            <label for="price_min">{{ 'general.min' | t}}</label>
                            <div class="input-group">
                              <span>{{ cart.currency.symbol }}</span>
                              <input type="number" placeholder="0" id="price_min">
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="filter-price__max">
                            <label for="price_max">{{ 'general.max' | t}}</label>
                            <div class="input-group">
                              <span>{{ cart.currency.symbol }}</span>
                              <input type="number" placeholder="500" id="price_max">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {%- endcase -%}
            {%- endfor -%}
            <div class="sidebar_btn">
              <button id="filter_clear" class="btn btn-2 clear">{{ 'collections.themes.btn.clear' | t}}</button>
              <button id="filter_apply" class="btn btn-2 apply">{{ 'collections.themes.btn.apply' | t}}</button>
            </div>
            <input type="hidden" id="sb_filter" data-filter="[]" data-template="themes">
          </div>
        </div>
        <div class="col-12 col-lg-9 product-grid">
          {% paginate collection.products by 15 %}
            <div class="toolbar">
              <div class="toolbar_right">
                <div class="pagination-showing">
                  {%- if paginate.page_size > 1  -%}
                    {%- assign from = paginate.current_offset | plus : 1 -%}
                    {%- if paginate.next -%}
                      {%- assign to = paginate.current_offset | plus: paginate.page_size -%}
                    {%- else -%}
                      {%- assign to = paginate.items -%}
                    {%- endif -%}
                    {%- assign count = paginate.items -%}
                    <span>{{ 'collections.themes.pagination.showing' | t: count: count, from: from, to: to }}</span>
                  {%- else -%}
                    <span>{{ 'collections.themes.pagination.showing_all' | t: count: collection.all_products_count}}</span>
                  {%- endif -%}
                </div>

                <div class="d-none d-lg-flex sort-by">
                  <label for="sort_by">{{ 'collections.themes.sort_by' | t}}</label>
                  <select name="sort_by" id="sort_by">
                    <option value="Most Recent">{{ 'collections.themes.select.option_1' | t}}</option>
                  </select>
                  {% render 'svg' type: 'angle-down' %}
                </div>
                <div class="d-lg-none">
                  <a href="javascript:void(0)" class="js-sb-toggle" data-target="sb_container" data-role="open">
                    {% render 'svg' type: 'filter' %}
                  </a>
                </div>
              </div>
            </div>
            <div class="wrapper">
              <div class="row" id="product_grid">
                {%- for product in collection.products -%}
                  <div class="col-6 col-md-4 col-lg-6 col-xl-4"> 
                    {% render 'card-template' type: 'product', product: product  %}
                  </div>
                {%- endfor -%}
              </div>

              {%- if paginate.pages > 1 -%}
                {% render 'pagination' paginate: paginate, id: "collection_pagination" %}
              {%- endif -%}
            </div>
          {% endpaginate %}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="product_cart_template">
  {- #products -}
    <div class="col-6 col-md-4 col-lg-6 col-xl-4"> 
      <div class="card card-product">
        <div class="card-img-top">
          <a href="{-url-}">
            {- #featured_image -}
              <span class="image__style" style="display: block;position: relative;padding-top: {- padding -};" >
                <img class="overlay-ui w-100 h-100 lazyload" 
                  data-src="{- url -}"
                  data-widths="[100,180,360]"
                  data-aspectratio="{- ratio -}"
                  data-sizes="auto"
                  data-expand="30"
                  data-parent-fit="cover"
                  data-tproduct="true"
                  alt="{- alt -}"/>
              </span>
            {- /featured_image -}
          </a>
        </div>
        <div class="card-body">
          <div class="card-body__tile">
            <a href="{- url -}" class="title">
              <span >{- title -}</span>
            </a>
            <span class="price">{- price -}</span>
          </div>
          <div class="card-body__variants">
            <div class="card-body__variants-label">
              <span>20</span>
              <span>{{ 'general.card.product.label_variants' | t }}</span>
            </div>
            <div class="card-body__variants-link">
              <a href="{-url-}">
                {% render 'svg', type: 'arrow-right'  %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {- /products -}
</script>

<script type="text/template" id="pagination_template">
  {- #paginate -}  
  <ul class="d-flex">
    {- #previous -}
      <li>
        <a href="{- url -}">{% render 'svg' type: 'angle-left' %}</a>
      </li>
    {- /previous -}
    {- ^previous -}
      <li class="disabled">
        <a href="javascript:void(0);">{% render 'svg' type: 'angle-left' %}</a>
      </li>
    {- /previous -}

    {- #parts -}
      {- #is_link -}
        <li>
          <a href="{- url -}">{- title -}</a>
        </li>
      {- /is_link -}
      {- ^is_link -}
        
          <li class="active">
            <a href="javascript">{{ part.title }}</a>
          </li>
        {%- else -%}
          <li>{{ part.title }}</li>
        {%- endif -%}
      {- /is_link -}
    {- /parts -}

    {- #next -}
      <li>
        <a href="{{paginate.next.url}}">{% render 'svg' type: 'angle-right' %}</a>
      </li>
    {- /next -}
    {- ^next -}
      <li class="disabled">
        <a href="javascript:void(0);">{% render 'svg' type: 'angle-right' %}</a>
      </li>
   {- /next -}
  </ul>
  {- /paginate -}  
</script>
{% schema %}
  {
    "name" : "Collection Themes",
    "tag" : "section",
    "settings" : [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "text",
        "id": "banner_title",
        "label": "Title"
      },
      {
        "type": "html",
        "id": "popular_list",
        "label": "Popular list",
        "info" : "Please separated by ','"
      }, 
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Image"
      }
    ],
    "blocks" : [
      {
        "type" : "filter_group",
        "name" : "Filter Group",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Filter Title"
          },
          {
            "type": "text",
            "id": "prefix",
            "label": "Tag Prefix"
          }
        ]
      },
      {
        "type" : "filter_price",
        "name" : "Filter Price",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Filter Title"
          }
        ]
      }
    ]
  }
{% endschema %}