{% liquid 
  assign banner_title = section.settings.banner_title 
  assign banner_subtitle = section.settings.banner_subtitle 
%}

<div class="collection collection-{{collection.handle}}" data-section-id="{{section.id}}" data-section-type="collection-apps">
  <div class="container">
    <div class="banner">
      <div class="banner__wrapper">
        <div class="text-lg-center textbox">
          <div class="title">
            <h1>{{banner_title}}</h1>
          </div>
          <div class="subtitle">
            <span>{{banner_subtitle}}</span>
          </div>
          <div class="textbox__search">
            <div class="input-group">
              <input type="text" placeholder="{{ 'collection_template.apps.search.placeholder' | t}}">
              {% render 'svg' type: 'search' %}
            </div>
            {% comment %} 
              <div class="result">
                <div class="no-result">
                  <div class="title">
                    <span>{{ 'search.no_result.title' | t}}</span>
                  </div>
                  <div class="subtitle">
                    <span>{{ 'search.no_result.subtitle' | t}}</span>
                  </div>
                </div>
              </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-lg-3 sidebar" id="js-sidebar-container">
        <div class="d-lg-none sidebar_header">
          <div class="title">
            <span>{{ 'collection_template.themes.filter' | t}}</span>
            <a href="javascript:void(0)" class="js-close-sidebar">
              {% render 'svg' type: 'close' %}
            </a>
          </div>
          <div class="sort-by">
            <label for="sort_by">{{ 'collection_template.themes.sort_by' | t}}</label>
            <select name="sort_by" id="sort_by">
              <option value="Most Recent">{{ 'collection_template.themes.select.option_1' | t}}</option>
            </select>
            {% render 'svg' type: 'angle-down' %}
          </div>
        </div>
        <div class="filter">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'filter_group' -%}
                {% liquid 
                  assign title = block.settings.title  
                %}
                <div class="filter-group">
                  <div class="header">
                    <p>{{title}}</p>
                  </div>
                  <div class="filter-group__body">
                    {%- for i in (1..5) -%}
                      <div class="filter-item">
                        <div class="d-flex checkbox">
                          <input type="checkbox" id="filter_item_{{block.id}}_{{i}}">
                          <label for="filter_item_{{block.id}}_{{forloop.index}}">Text</label>
                        </div>
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              {% comment %} end {% endcomment %}
              {%- when 'filter_price' -%}
                  {% liquid 
                    assign title = block.settings.title  
                  %}
                <div class="filter-price">
                  <div class="header">
                    <p>{{title}}</p>
                  </div>
                  <div class="filter-price__body">
                    <div class="row">
                      <div class="col-6">
                        <div class="filter-price__min">
                          <label for="price_min">{{ 'general.min' | t}}</label>
                          <div class="input-group">
                            <span>{{ cart.currency.symbol }}</span>
                            <input type="number" placeholder="0" id="price_min">
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="filter-price__max">
                          <label for="price_max">{{ 'general.max' | t}}</label>
                          <div class="input-group">
                            <span>{{ cart.currency.symbol }}</span>
                            <input type="number" placeholder="500" id="price_max">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% comment %} end {% endcomment %}
              {%- when 'filter_rating' -%} 
                {% liquid 
                  assign title = block.settings.title 
                %}              
                <div class="filter-group filter-rating">
                  <div class="header">
                    <p>{{title}}</p>
                  </div>
                  <div class="filter-group__body">
                    {%- for i in (1..5) -%}
                      {%- assign rating = 'rating-'| append: i -%}
                      <div class="filter-item">
                        <div class="d-flex checkbox">
                          <input type="checkbox" id="filter_item_{{block.id}}_{{i}}">
                          <label for="filter_item_{{block.id}}_{{forloop.index}}">
                            {% render 'svg' type: rating  %}
                          </label>
                        </div>
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              {% comment %} end {% endcomment %}
            {%- endcase -%}
          {%- endfor -%}
          <div class="sidebar_btn">
            <button id="filter_clear" class="btn btn-2 clear">{{ 'collection_template.themes.btn.clear' | t}}</button>
            <button id="filter_apply" class="btn btn-2 apply">{{ 'collection_template.themes.btn.apply' | t}}</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-9 product-grid">
        <div class="toolbar">
          <div class="toolbar_right">
            <div class="pagination-showing">    
              {%- if collection.all_products_count > 15  -%}
                <span>{{ 'collection_template.apps.pagination.showing' | t: count: collection.all_products_count}}</span>
              {%- else -%}
                <span>{{ 'collection_template.apps.pagination.showing_all' | t: count: collection.all_products_count}}</span>
              {%- endif -%}
            </div>

            <div class="d-none  d-lg-flex sort-by">
              <label for="sort_by">{{ 'collection_template.themes.sort_by' | t}}</label>
              <select name="sort_by" id="sort_by">
                <option value="Most Recent">{{ 'collection_template.themes.select.option_1' | t}}</option>
              </select>
              {% render 'svg' type: 'angle-down' %}
            </div>
            <div class="d-lg-none">
              <a href="javascript:void(0)" id="js-open-sidebar">
                {% render 'svg' type: 'filter' %}
              </a>
            </div>
          </div>
        </div>
        <div class="product-grid__wrapper">
          {% paginate collection.products 15 %}
            <div class="row">
                {%- for product in collection.products -%}
                  <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                    {% render 'card-template' type: 'app', product: product  %}
                  </div>
                {%- endfor -%}
            </div>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination-snippets' paginate: paginate %}
            {%- endif -%}
          {% endpaginate %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name" : "Collection Apps",
    "tag" : "section",
    "settings" : [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "text",
        "id": "banner_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "banner_subtitle",
        "label": "Subtitle"
      }
    ],
    "blocks" : [
      {
        "type" : "filter_group",
        "name" : "Filter Group",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Filter Title"
          }

        ]
      },
      {
        "type" : "filter_price",
        "name" : "Filter Price",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Filter Title"
          }
        ]
      },
      {
        "type" : "filter_rating",
        "name" : "Filter Rating",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Filter Rating"
          }
        ]
      }
    ]
  }
{% endschema %}