{% liquid 
  assign banner_title = section.settings.banner_title
  assign popular_list         = section.settings.popular_list | strip | split: ','
  assign image_desktop        = section.settings.image_desktop
  assign collection_title     = section.settings.collection_title
  assign collection_subtitle  = section.settings.collection_subtitle
  assign icons_box_title      = section.settings.icons_box_title
  assign icons_box_subtitle   = section.settings.icons_box_subtitle
  assign logo_list_title      = section.settings.logo_list_title
  assign logo_list_subtitle   = section.settings.logo_list_subtitle
%}
{%- capture icon_list -%}{%- endcapture-%}  
{%- capture logo_list -%}{%- endcapture-%}

{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'icon_item' -%}
      {% liquid 
        assign icon_svg = block.settings.icon_svg
        assign icon_label = block.settings.icon_label
      %}
      {%- capture icon_item -%}
        <div class="icons-cart__item" {{block.shopify_attributes}}>
          <div class="icons-cart__item__wrapper">
            {{icon_svg}}
            <span>{{icon_label}}</span>
          </div>
        </div>
      {%- endcapture -%}

      {%- assign icon_list = icon_list | append: icon_item -%}
    {% comment %} end {% endcomment %}
  {%- endcase -%}
{%- endfor -%}

<div class="collection collection-task">
  <div class="container">
    <div class="d-none d-lg-block">
      {% render 'breadcrumb-snippets' type: 'task'  %}
    </div>
    
    <div class="banner">
      <div class="banner__wrapper">
        <div class="textbox">
          <div class="title">
            <h1>{{banner_title}}</h1>
          </div>
          <div class="banner__search">
            <form action="/search" method="get">
              <div class="input-group">
                <input type="text" name="q" placeholder="{{ 'collections.tasks.search_placeholder' | t}}">
                {% render 'svg' type: 'search' %}
              </div>
            </form>
          </div>
          {%- if popular_list.size > 0 -%}
            <div class="banner__popular">
              <div class="popular-list">
                <span>{{ 'collections.apps.popular' | t}}</span>
                {%- for popular in popular_list -%}
                  {%- assign popularNew = popular | split: '|' -%}
                  {%- assign text = '1234' | split: '|' -%}
                  {%- if popularNew.size == 2 -%}
                    {%- assign url = popularNew[1] -%} 
                  {%- endif -%}
                  <a href="{{ url | default: 'javascript:void(0)' | strip }}" class="popular-item">{{ popularNew[0] | strip }}</a>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        </div>
        <div class="image">
          {% render 'image-style' image: image_desktop %}
        </div>
      </div>
    </div>

    <div class="collection-list">
      <div class="collection-list__wrapper">
        <div class="heading text-center">
          <div class="title">
            <h3>{{collection_title}}</h3>
          </div>
          <div class="subtitle">
            <span>{{collection_subtitle}}</span>
          </div>
        </div>
        <div class="row collection-list__content">
          {%- assign collection_list = shop.metafields.c_f.collection_list | split: '|' -%}

          {%- for handle in collection_list -%}
            {% liquid 
              assign collection_item =  collections[handle]
              assign label =  collection_item.title
              assign url = collection_item.url 
              assign svg = collection_item.metafields.c_f.collection_svg 
            %}
            <div class="col-6 col-sm-4 col-xl-3 collection-list__item">
              <a href="{{url | default: 'javascript:void(0)'}}" class="text-center">
                {{svg}}
                <span>{{label}}</span>
              </a>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>

    <div class="icons-cart">
      <div class="icons-cart__wrapper">
        <div class="icons-cart__heading text-center">
          <div class="heading">
            <span>{{icons_box_title}}</span>
          </div>
          <div class="subheading">
            <span>{{icons_box_subtitle}}</span>
          </div>
        </div>
        <div class ="icons-cart__list">
          <div class="js-tns" data-config='tns-config-{{collection.id}}'>
            {{icon_list}}
          </div>
          <div class="js-tns-controls section-{{section.id}} d-none">
            <div class="btn-prev">
              {% render 'svg', type: 'angle-left'  %}
            </div>
            <div class="btn-next">
              {% render 'svg', type: 'angle-right'  %}
            </div>
          </div>
          <script type="application/ld+json" id="tns-config-{{collection.id}}">
            {
              "loop": false,
              "nav": false,
              "mouseDrag" : true,
              "swipeAngle" : false,
              "preventActionWhenRunning": true,
              "preventScrollOnTouch": false,
              "slideBy": 1,
              "responsive": {
                "1": {
                  "items": 1.7,
                  "gutter": 25
                },
                "479": {
                  "items": 2
                },
                "576": {
                  "items": 2.5
                },
                "768": {
                  "items": 3
                },
                "992": {
                  "items": 3.5,
                  "gutter": 30
                },
                "1052": {
                  "items": 4
                }
              }
            }
          </script>
        </div>
      </div>
    </div>
    
  </div>
</div>

{% schema %}
{
  "name": "Collection Task Template",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Image on desktop"
    },
    {
      "type": "html",
      "id": "popular_list",
      "label": "Popular list",
      "info" : "Please separated by ','"
    },
    {
      "type": "header",
      "content": "Collection list"
    },
    {
      "type": "text",
      "id": "collection_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "collection_subtitle",
      "label": "Subtitle"
    },
    {
      "type": "paragraph",
      "content": "Please use metafields to add item."
    },
    {
      "type": "header",
      "content": "Icons box"
    },
    {
      "type": "text",
      "id": "icons_box_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "icons_box_subtitle",
      "label": "Subtitle"
    },
    {
      "type": "paragraph",
      "content": "To add a item, please add block 'Icon item'"
    },
    {
      "type": "header",
      "content": "Logo list"
    },
    {
      "type": "text",
      "id": "logo_list_title",
      "label": "title"
    },
    {
      "type": "text",
      "id": "logo_list_subtitle",
      "label": "Subtitle"
    },
    {
      "type": "paragraph",
      "content": "To add a item, please add block 'Logo item'"
    }
  ],
  "blocks" : [
    {
      "type" : "icon_item",
      "name" : "Icon item",
      "settings" : [
        {
          "type": "html",
          "id": "icon_svg",
          "label": "SVG"
        },
        {
          "type": "text",
          "id": "icon_label",
          "label": "Label"
        }
      ]
    }
  ]
}
{% endschema %}