{% liquid 
  assign banner_title = section.settings.banner_title 
  assign banner_image = section.settings.banner_image 
  assign popular_list = section.settings.popular_list | strip | split: ','
%}

<div class="collection collection-{{collection.handle}}" data-section-id="{{section.id}}" data-section-type="collection-apps">
  <div class="container">
    <div class="banner">
      <div class="banner__wrapper">
        <div class="textbox">
          <div class="title">
            <h1>{{banner_title}}</h1>
          </div>
          <div class="banner__search">
            <div class="js-search search" data-search-container data-config='search_config_{{collection.id}}'>
              <div class="search-group">
                <form method="get" action="/search" class="search-form">
                  <input type="hidden" name="type" value="product,article,page">
                  <input type="hidden" name="options[prefix]" value="last">
                  {% render 'svg' , type: 'search' %}
                  <a href="javascript:void(0)" class="js-close-search close-search">
                    {% render 'svg' , type: 'close' %}
                  </a>
                  <input type="text" name="q"  class="js-search-input" autocomplete="off"/>
                </form>
                <div class="js-search-results search-result">
                  <div class="no-result">
                    <div class="title">
                      <span>{{ 'search.no_result.title' | t}} "<span class="keyword"></span>"</span>
                    </div>
                    <div class="subtitle">
                      <span>{{ 'search.no_result.subtitle' | t}}</span>
                    </div>
                  </div>
                  <div class="results">
                    <div class="wrapper">
                    </div>
                    <div class="results__btn">
                      <button class="btn btn-2 btn-view-all">{{ 'search.view_all' | t}}</button>
                    </div>
                  </div>
                  <div class="is-loading">
                    {% render 'svg-2' type: 'load' %}
                  </div>
                </div>
              </div>
              <script type="application/json" id="search_config_{{collection.id}}">
                {
                  "parameters": {
                    "resources[type]": "product"
                  },
                  "productType": "apps",
                  "resourcesType" : ["products"]
                }
              </script>
            </div>
          </div>
          {%- if popular_list.size > 0 -%}
            <div class="banner__popular">
              <div class="popular-list">
                <span>{{ 'collections.apps.popular' | t}}</span>
                {%- for popular in popular_list -%}
                  {%- assign popularNew = popular | split: '|' -%}
                  {%- assign text = '1234' | split: '|' -%}
                  {%- if popularNew.size == 2 -%}
                    {%- assign url = popularNew[1] -%} 
                  {%- endif -%}
                  <a href="{{ url | default: 'javascript:void(0)' | strip }}" class="popular-item">{{ popularNew[0] | strip }}</a>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        </div>
        <div class="image">
          {% render 'image-style' image: banner_image %}
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 product-grid">
        <div class="toolbar">
          <div class="toolbar_right">
            <div class="pagination-showing">    
              {%- if collection.all_products_count > 15  -%}
                <span>{{ 'collections.apps.pagination.showing' | t: count: collection.all_products_count}}</span>
              {%- else -%}
                <span>{{ 'collections.apps.pagination.showing_all' | t: count: collection.all_products_count}}</span>
              {%- endif -%}
            </div>

            <div class="d-none  d-lg-flex sort-by">
              <label for="sort_by">{{ 'collections.themes.sort_by' | t}}</label>
              <select name="sort_by" id="sort_by">
                <option value="Most Recent">{{ 'collections.themes.select.option_1' | t}}</option>
              </select>
              {% render 'svg' type: 'angle-down' %}
            </div>
          </div>
        </div>
        <div class="product-grid__wrapper">
          {% paginate collection.products by 15 %}
            <div class="row">
                {%- for product in collection.products -%}
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    {% render 'card-template' type: 'app', product: product  %}
                  </div>
                {%- endfor -%}
            </div>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination' paginate: paginate %}
            {%- endif -%}
          {% endpaginate %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name" : "Collection Apps",
    "tag" : "section",
    "settings" : [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "text",
        "id": "banner_title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Image"
      },
      {
        "type": "html",
        "id": "popular_list",
        "label": "Popular list",
        "info" : "please separated by ','"
      }
      
    ],
    "blocks" : [
      {
        "type" : "filter_group",
        "name" : "Filter Group",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Filter Title"
          }

        ]
      },
      {
        "type" : "filter_price",
        "name" : "Filter Price",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Filter Title"
          }
        ]
      },
      {
        "type" : "filter_rating",
        "name" : "Filter Rating",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Filter Rating"
          }
        ]
      }
    ]
  }
{% endschema %}