{% liquid 
  assign nav_link_lb_1 = section.settings.nav_link_lb_1 
  assign nav_link_url_1 = section.settings.nav_link_url_1 
  
  assign nav_link_lb_2 = section.settings.nav_link_lb_2 
  assign nav_link_url_2 = section.settings.nav_link_url_2 
%}

<div class="footer lazyload" id="footer" data-section-id="{{section.id}}" data-section-type="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer-top">
        <div class="row">
          {%- for block in section.blocks -%}
            {% liquid 
              assign items_resp =  block.settings.items_resp
            %}
            {%- capture classResp -%}
              {%- render 'set-item-per-row', value: items_resp  -%}
            {%- endcapture -%}
            <div class="{{classResp}}">
              {%- include 'footer-snippets', type: block.type -%} 
            </div>
          {%- endfor -%}
        </div>    
      </div>
      <div class="footer-bottom">
        <div class="row">
          <div class="col-12 col-md-6 footer-bottom__left">
            <span class="content">Copyright © 2020 ArenaCommerce. All rights reserved.</span>
          </div>
          <div class="col-12 col-md-6 footer-bottom__right">
            {% comment %} <div class="translate-language">
              <ul>
                <li></li>
              </ul>
            </div> {% endcomment %}
            <div class="nav-link">
              <div class="nav-link__item">
                <a href="{{nav_link_url_1}}">{{nav_link_lb_1}}</a>
              </div>
              <div class="nav-link__item">
                <a href="{{nav_link_url_2}}">{{nav_link_lb_2}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>


{% schema %}
  {
    "name" : "Footer",
    "tag" : "footer",
    "settings" : [
      {
        "type" : "header",
        "content" : "Footer bottom settings"
      },
      {
        "type" : "text",
        "id" : "nav_link_lb_1",
        "label" : "Label of link 1"
      },
      {
        "type" : "text",
        "id" : "nav_link_url_1",
        "label" : "URL of link 1"
      },
      {
        "type" : "text",
        "id" : "nav_link_lb_2",
        "label" : "Label of link 2"
      },
      {
        "type" : "text",
        "id" : "nav_link_url_2",
        "label" : "URL of link 2"
      }
    ],
    "blocks" : [
      {
        "type" : "infomation",
        "name" : "Infomation",
        "settings" : [
          {
            "type" : "html",
            "id" : "desc",
            "label" : "Description"
          },
          {
            "type" : "image_picker",
            "id" : "payment", 
            "label" : "Payment"
          },
          {
            "type" : "text",
            "id" : "items_resp",
            "label": "Width (1-12)",
            "info": "E.g: 4,6,12"
          }
        ]
      },
      {
        "type" : "menu_item",
        "name" : "Menu item",
        "settings" : [
         {
           "type": "header",
           "content": "General settings"
         },
         {
           "type": "text",
           "id": "title",
           "label": "Title",
           "default" : "Menu title",
           "info" : "Default 'Menu title'"
         },
         {
           "type": "link_list",
           "id": "menu",
           "label": "Menu"
         },
          {
            "type" : "text",
            "id" : "items_resp",
            "label": "Width (1-12)",
            "info": "E.g: 4,6,12"
          }
        ]
      }
    ]
  }
{% endschema %}