{% liquid 
  assign layout     = section.settings.layout
  assign heading    = section.settings.heading
  assign subheading = section.settings.subheading
  assign align_text = section.settings.align_text
  assign items_resp = section.settings.items_resp
%}

{%- capture classResp -%}
  {%- include 'set-item-per-row', value: items_resp  -%}
{%- endcapture -%}
<div class="logo-list" data-section-id="{{section.id}}" data-section-type="logo-list">
  {% if layout == 'boxed' %} <div class="container"> {%- endif -%}
    <div class="logo-list__wrapper">
      <div class="logo-list__title section_title-wrapper text-{{align_text}}">
        <div class="heading section_title-text-1">
          <span class="content">{{heading}}</span>
        </div>
      </div>
      <div class="logo-list__content">
        <div class="logo-list__list">
          <div class="js-tns" data-config='tns_config_{{section.id}}'>
            {%- for block in section.blocks -%}
              {% liquid 
                assign image = block.settings.image 
              %}
              <div class="logo-list__item">
                <div class="image">
                  <span class="image__style" >
                    <img 
                        class="w-100 h-100 lazyload" 
                        data-sizes="auto"
                        data-srcset="{{ image | img_url: '640x'}} 2x"
                        data-optimumx="1.6"
                        data-parent-fit="cover"
                        >
                  </span>
                  {% comment %} {%- render 'image-style', image: image, originQuality: true -%} {% endcomment %}
                </div>
              </div>
            {%- endfor -%}
          </div>
          <script type="application/ld+json" id="tns_config_{{section.id}}">
            {
              "loop": false,
              "nav": false,
              "preventActionWhenRunning": true,
              "mouseDrag" : true,
              "swipeAngle" : false,
              "controls" : false,
              "slideBy": 1,
              "responsive": {
                "1": {
                  "items": 1.7,
                  "gutter": 25
                },
                "375": {
                  "items": 2
                },
                "576": {
                  "items": 3
                },
                "768": {
                  "items": 4
                },
                "992": {
                  "items": 5,
                  "gutter": 30
                },
                "1200": {
                  "items": 6,
                  "gutter": 30
                },
                "1440": {
                  "items": 7
                }
              }
            }
          </script>
        </div> 
      </div>
    </div>
  {% if layout == 'boxed' %} </div> {%- endif -%}
</div>

{% schema %}
  {
    "name": "Logo List",
    "tag": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "Created by 'Logo list' section."
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          }
        ],
        "default": "boxed"
      },
      {
        "type": "header",
        "content": "Section Heading"
      },
      {
        "type": "html",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "Layout settings"
      },
      {
        "type": "text",
        "id": "items_resp",
        "label": "Max number of items per row",
        "info": "E.g: 2,1,1",
        "default": "3,1"
      }
    ],
    "blocks": [
      {
        "type": "block_item",
        "name": "Block Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Banner",
        "name": "Logo list"
      }
    ]
  }
{% endschema %}