 
{% liquid 
  assign icon = section.settings.icon
  assign label = section.settings.label  
  assign url = section.settings.url  | default: 'javascript:void(0)'
%}

<div class="d-lg-none position-fixed mobile-bar">
    <div class="mobile-bar__item comments">
      <a href="">
        <span class="icon">
          {% render 'svg' type: 'comments' %}
        </span>
        <span class="label">
          {{label}}
        </span>
      </a>
    </div>
    <div class="mobile-bar__item envelope">
      <a href="{{url}}">
        <span class="icon">
          {% render 'svg' type: 'envelope' %}
        </span>
        <span class="label">
          {{label}}
        </span>
      </a>
    </div>
    <div class="mobile-bar__item calendar">
      <a href="{{url}}">
        <span class="icon">
          {% render 'svg' type: 'calendar' %}
        </span>
        <span class="label">
          {{label}}
        </span>
      </a>
    </div>
    <div class="mobile-bar__item user">
      <a href="{{url}}">
        <span class="icon">
         {% render 'svg' type: 'user' %}
        </span>
        <span class="label">
          {{label}}
        </span>
      </a>
    </div>
</div>

{% schema %}
{
  "name": "Mobile bar",
  "tag": "section",
  "blocks": [
    {
      "type": "icon_box",
      "name": "Icon box",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type" : "url",
          "id" : "url",
          "label" : "URL" 
        }
      ]
    }
  ]
}
{% endschema %} 