{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign sectionType    = 'featured-product-tab'
  assign _lazyload      = true
  assign _total 		    = section.settings.total | times: 1
  assign _set_active    = section.settings.set_active
  assign _items_resp 	  = section.settings.items_resp | default: '5,3,2'
  assign _enable_slider = section.settings.enable_slider
-%}

{%- capture section_class -%}
	{{- -}}home-products-tab
	{{- -}}|section-{{- section.id -}}
	{{- -}}|layout-{{- _layout -}}
  {{- -}}|mobile_layout-{{- section.settings.mobile_layout -}}
  {%- render 'bgset' ,class: 'bg-image' ,image: section.settings.section_bg_image -%}
{%- endcapture -%}{%- assign section_class = section_class | strip_newlines | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}


{%- capture gridClass -%}{%- render 'set-item-per-row', value: _items_resp -%}{%- endcapture -%}
{%- capture content -%}
<div class="{{section_class}}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
  	<div class="section_content-wrapper">

      {%- unless section.settings.sectionHeading_text_1 == blank and section.settings.sectionHeading_text_2 == blank -%}
        <div class="section_content-head">
          {%- include 'snippet-theme', type: 'sectionHeading', section_css: section_css -%}
        </div>
      {%- endunless -%}

  		<div class="section_content-body">
        <div class="featured_group_tab-ui">
          <div class="featured_group_tab-header">

            {%- comment -%}
              **
              * Section content
              *
            {%- endcomment-%}
            {%- if section.blocks.size > 0 -%}
              {%- for block in section.blocks -%}
                {%- liquid
                  assign _collection      = block.settings.collection
                  assign collection       = collections[_collection]
                  assign _collectionTitle = block.settings.title | default: collection.title
                -%}
                {%- capture tabPaneID -%}#pane_{{section.id}}-{{collection.id}}{%- endcapture -%}

                <div class="featured_group_tab-link{% if _set_active == forloop.index %} active{% endif %}"{{block.shopify_attributes}}>
                  <a href="{{ tabPaneID }}">
                    {%- if _collection != blank and collection.all_products_count >= 0 -%}
                      <span>{{ _collectionTitle }}</span>
                    {%- else -%}
                      <span>Tab title #{{forloop.index}}</span>
                    {%- endif -%}
                  </a>
                </div>

                {%- capture tabPane_item -%}
                  <div class="featured_group_tab-pane{% if _set_active == forloop.index %} active{% endif %}" id="{{ tabPaneID | remove_first: '#' }}">
                    <div class="featured_group_tab-pane-inner" data-slide-wrapper>
                      <div class="row{% if _enable_slider %} slide_ui-element{% endif %}">
                        {%- if _collection != blank and collection.all_products_count > 0 -%}
                          {%- for product in collection.products limit: _total -%}
                            <section class="product-section {{gridClass}}">
                              {%- render 'product-item', product: product, catalogMode: section.settings.enable_catalog, showInventory: section.settings.show_inventory -%}
                            </section>
                          {%- endfor -%}

                        {%- else -%}
                          {%- assign _total = section.settings.total | minus: 1 -%}
                          {%- for i in (0.._total) -%}
                            <section class="product-section {{gridClass}}">
                              {%- include 'svgset', type: 'empty-product' -%}
                            </section>
                          {%- endfor -%}
                        {%- endif -%}
                      </div>
                      {%- if _enable_slider -%}
                        {%- render 'set-item-per-row', value: _items_resp, type: 'slider', itemClass: 'product-section' -%}
                      {%- endif -%}
                    </div>
                  </div>
                {%- endcapture -%}
                {%- assign tabPaneContent = tabPaneContent | append: tabPane_item -%}
              {%- endfor -%}

            {%- else -%}

              {%- comment -%}
                **
                * Empty Content
                *
              {%- endcomment-%}
              {%- for i in (1..3) -%}
                {%- capture tabPaneID -%}#pane_{{section.id}}-{{i}}{%- endcapture -%}
                <div class="featured_group_tab-link{% if _set_active == forloop.index %} active{% endif %}">
                  <a href="{{ tabPaneID }}">
                    <span>Tab title #{{i}}</span>
                  </a>
                </div>

                {%- capture tabPane_item -%}
                  <div class="featured_group_tab-pane{% if _set_active == forloop.index %} active{% endif %}" id="{{ tabPaneID | remove_first: '#' }}">
                    <div class="row">
                      {%- assign _total = section.settings.total | minus: 1 -%}
                      {%- for i in (0.._total) -%}
                        <div class="product-section {{gridClass}}">
                          {%- include 'svgset', type: 'empty-product' -%}
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                {%- endcapture -%}
                {%- assign tabPaneContent = tabPaneContent | append: tabPane_item -%}
              {%- endfor -%}
            {%- endif -%}
          </div>

          <div class="featured_group_tab-body">
            <div class="featured_group_tab-content">{{ tabPaneContent }}</div>
          </div>

        </div>
  		</div>
  	</div>
  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>

{%- capture sectionCss -%}
  {%- liquid
    echo section_css
    render 'snippet-theme', type: 'sectionCSS', ID: sectionID
  -%}
{%- endcapture -%}{%- assign sectionCss = sectionCss | strip_newlines -%}
{%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}
{%- endcapture -%}
{%- render 'compress', content: content -%}

{% schema %}
{
   "name": "Products Tab",
   "tag": "section",
   "settings": [
      {
         "type": "paragraph",
         "content": "Created by 'Products Tab' section"
      },
      {
         "type": "text",
         "id": "title",
         "label": "Section Label [:id]",
         "default": "Products Tab"
      },
      {
         "type": "header",
         "content": "LAYOUT"
      },
      {
         "type": "checkbox",
         "id": "boxed_layout",
         "label": "Boxed layout",
         "default": true
      },
      {
         "type"  :"text",
         "id"    :"section_padding",
         "label" :"Section Padding",
         "placeholder": "E.g: 5px 20px 5px 20px",
         "info": "Order: Top Right Bottom Left"
      },
      {
         "type":"select",
         "id":"mobile_layout",
         "label":"Mobile layout",
         "options":[
           {
             "value":"boxed",
             "label":"Boxed"
           },
           {
             "value":"full",
             "label":"Wide"
           },
           {
             "value":"full-right",
             "label":"Only full right"
           }
         ],
         "default": "boxed"
      },
      {
         "type":"header",
         "content":"Layout content"
      },
      {
         "type":"range",
         "id":"set_active",
         "label":"Set active tab",
         "min":1,
         "max":5,
         "step":1,
         "default":1
      },
      {
         "type":"checkbox",
         "id":"enable_catalog",
         "label":"Enable Catalog mode",
         "default": true
      },
      {
         "type":"checkbox",
         "id":"show_inventory",
         "label": "Show Low Inventory quantity (<30)"
      },
      {
         "type":"text",
         "id":"total",
         "label":"Tab total items",
         "default": "10",
         "placeholder": "E.g: 10"
      },
      {
         "type"  :"text",
         "id"    :"items_resp",
         "label":"Max number of items per row",
         "default": "5,3,2",
         "placeholder": "E.g: 4,3,2"
      },
      {
         "type":"header",
         "content":"Slider settings"
      },
      {
         "type":"checkbox",
         "id":"enable_slider",
         "label":"Enable Slider"
      },
      {
         "type":"checkbox",
         "id":"slide_nav",
         "label":"Show Nav",
         "default": true
      },
      {
         "type":"checkbox",
         "id":"slide_dot",
         "label":"Show Dot",
         "default": true
      },
      {
         "type":"header",
         "content":"Section Heading"
      },
      {
         "type":"text",
         "id":"sectionHeading_text_1",
         "label":"Heading"
      },
      {
         "type":"text",
         "id":"sectionHeading_text_2",
         "label":"Subheading"
      },
      {
         "type":"select",
         "id":"sectionHeading_align",
         "label":"Alignment",
         "options":[
            {"value":"auto","label":"Auto"},
            {"value":"left","label":"Left"},
            {"value":"center","label":"Center"},
            {"value":"right","label":"Right"}
         ],
         "default":"auto"
      },
      {
         "type":"color",
         "id":"sectionHeading_cl_1",
         "label":"Heading color",
         "info": "Blank to inherit"
      },
      {
         "type":"color",
         "id":"sectionHeading_cl_2",
         "label":"Subheading color",
         "info": "Blank to inherit"
      }
   ],
   "blocks": [
    {
      "type": "content",
      "name": "Collection",
      "limit": 5,
      "settings": [
        {
           "type":"collection",
           "id":"collection",
           "label":"Collection"
        },
        {
           "type":"text",
           "id":"title",
           "label":"Tab title",
           "info": "Default is collection title"
        }
      ]
    }
   ],
   "presets": [
      {
   		"name": "Products Tab",
         "category": "Collection",
         "blocks": []
      }
   ]
}
{% endschema %}