{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign sectionType        = 'iconbox'
  assign _lazyload          = true
  assign _items_resp 	      = section.settings.items_resp | default: '3,1' | replace: ',', ';' | replace: ';', ', 1fr;' | append: ', 1fr'
  assign _style             = section.settings.style
  assign _border_top        = section.settings.border_top
  assign _border_bottom     = section.settings.border_bottom
  assign _main_bg_color     = section.settings.main_bg_color | default: 'rgba(0,0,0,0)'
  assign _main_text_color   = section.settings.main_text_color | default: 'rgba(0,0,0,0)'

-%}

{%- capture section_class -%}
	{{- -}}home-icon-box
	{{- -}}|section-{{- section.id -}}
	{{- -}}|layout-{{- _layout -}}
  {{- -}}|style-{{- _style -}}
  {%- if _border_top -%}|border-top-{{- _border_top -}}{%- endif -%}
  {%- if _border_bottom -%}|border-bottom-{{- _border_bottom -}}{%- endif -%}
  {%- render 'bgset' ,class: 'bg-image' ,image: section.settings.section_bg_image -%}
{%- endcapture -%}{%- assign section_class = section_class | strip_newlines | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}

{%- capture content -%}
<div class="{{section_class}}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
  	<div class="section_content-wrapper">

  		<div class="section_content-head">
  			{%- include 'snippet-theme', type: 'sectionHeading', section_css: section_css -%}
  		</div>

  		<div class="section_content-body">
  			<div class="d-grid">
	  			{%- if section.blocks.size > 0 -%}
	  				{%- for block in section.blocks -%}
              {%- liquid
                assign _image     = block.settings.image
                assign _svg       = block.settings.svg
                assign _title     = block.settings.title
                assign _content   = block.settings.content
              -%}

              <div class="card_section-item"{{block.shopify_attributes}}>
                <div class="card_section-item-inner">
                  <div class="card_section-header">
                    <div class="card_section-figure">
                      {%- unless _svg == blank -%}<span class="svg-element-ui">{{ _svg }}</span>
                      {%- elsif _image != blank -%}{%- render 'image-style', image: _image, originQuality: true -%}
                      {%- else -%}{%- render 'svgset' -%}
                      {%- endunless -%}
                    </div>
                  </div>
                  <div class="card_section-body">
                    <div class="card_section-info">
                      {%- unless _title == blank -%}<p class="card_section-title">{{_title}}</p>{%- endunless -%}
                      {%- unless _content == blank -%}<p>{{_content}}</p>{%- endunless -%}
                    </div>
                  </div>
                </div>
              </div>

            {%- endfor -%}
	  			{%- else -%}
	  				{%- for i in (1..3) -%}
	  					<div class="card_section-item">
                <div class="card_section-item"{{block.shopify_attributes}}>
                  <div class="card_section-item-inner">
                    <div class="card_section-header">
                      <div class="card_section-figure">
                        <span class="svg-element-ui">
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.225 16.3669C6.10405 16.3669 6.81667 15.6543 6.81667 14.7753C6.81667 13.8962 6.10405 13.1836 5.225 13.1836C4.34594 13.1836 3.63333 13.8962 3.63333 14.7753C3.63333 15.6543 4.34594 16.3669 5.225 16.3669Z" stroke="#103178" stroke-width="1.91" stroke-miterlimit="10"/>
                            <path d="M14.775 16.3669C15.654 16.3669 16.3667 15.6543 16.3667 14.7753C16.3667 13.8962 15.654 13.1836 14.775 13.1836C13.8959 13.1836 13.1833 13.8962 13.1833 14.7753C13.1833 15.6543 13.8959 16.3669 14.775 16.3669Z" stroke="#103178" stroke-width="1.91" stroke-miterlimit="10"/>
                            <path d="M3.63333 14.775H1.25V3.6333H15.5667V6.81663L17.1583 9.99997L18.75 10.8916V14.775H16.3667" stroke="#103178" stroke-width="1.91" stroke-miterlimit="10"/>
                            <path d="M13.1833 14.7749H6.81668" stroke="#103178" stroke-width="1.91" stroke-miterlimit="10"/>
                            <path d="M17.1583 9.99974H12.3833V6.81641H15.5667" stroke="#103178" stroke-width="1.91" stroke-miterlimit="10"/>
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div class="card_section-body">
                      <div class="card_section-info">
                        <p>Free delivery</p>
                      </div>
                    </div>
                  </div>
                </div>
	  					</div>
	  				{%- endfor -%}
	  			{%- endif -%}
  			</div>
  		</div>

  	</div>
  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>

{%- capture sectionCss -%}
  {%- liquid
    echo section_css
    render 'snippet-theme', type: 'sectionCSS', ID: sectionID
    render 'css-resp', classID: sectionID, nextClassID: ' .d-grid', css_value: _items_resp, css_property: 'grid-template-columns', css_value_before: 'repeat', css_split: ';'
  -%}

  {%- unless _main_bg_color   == 'rgba(0,0,0,0)' -%}{{- sectionID }} .section_content-wrapper{background: {{ _main_bg_color }};}{%- endunless -%}
  {%- unless _main_text_color == 'rgba(0,0,0,0)' -%}
    {{- sectionID }} .card_section-info p{color: {{_main_text_color}};}
    {{- sectionID }} .svg-element-ui svg path{ stroke: {{ _main_text_color }};}
  {%- endunless -%}


{%- endcapture -%}{%- assign sectionCss = sectionCss | strip_newlines -%}
{%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}
{%- endcapture -%}
{%- render 'compress', content: content -%}

{% schema %}
{
   "name": "Icon box",
   "tag": "section",
   "settings": [
      {
         "type": "paragraph",
         "content": "Created by 'Icon box' section"
      },
      {
         "type": "text",
         "id": "title",
         "label": "Section Label [:id]",
         "default": "Icon box"
      },
      {
         "type": "header",
         "content": "LAYOUT"
      },
      {
         "type": "checkbox",
         "id": "boxed_layout",
         "label": "Boxed layout",
         "default": true
      },
      {
         "type":"checkbox",
         "id":"border_top",
         "label":"Border Top",
         "default": true
      },
      {
         "type":"checkbox",
         "id":"border_bottom",
         "label":"Border Bottom",
         "default": true
      },
      {
         "type"  :"text",
         "id"    :"section_padding",
         "label" :"Section Padding",
         "placeholder": "E.g: 5px 20px 5px 20px",
         "info": "Order: Top Right Bottom Left"
      },
      {
         "type":"color",
         "id":"main_bg_color",
         "label":"Background color"
      },
      {
         "type":"color",
         "id":"main_text_color",
         "label":"Text color"
      },
      {
         "type":"header",
         "content":"Section Heading"
      },
      {
         "type":"text",
         "id":"sectionHeading_text_1",
         "label":"Heading"
      },
      {
         "type":"text",
         "id":"sectionHeading_text_2",
         "label":"Subheading"
      },
      {
         "type":"select",
         "id":"sectionHeading_align",
         "label":"Alignment",
         "options":[
            {"value":"auto","label":"Auto"},
            {"value":"left","label":"Left"},
            {"value":"center","label":"Center"},
            {"value":"right","label":"Right"}
         ],
         "default":"auto"
      },
      {
         "type":"color",
         "id":"sectionHeading_cl_1",
         "label":"Heading color",
         "info": "Blank to inherit"
      },
      {
         "type":"color",
         "id":"sectionHeading_cl_2",
         "label":"Subheading color",
         "info": "Blank to inherit"
      },
      {
         "type":"header",
         "content":"Layout content"
      },
      {
         "type"  :"text",
         "id"    :"items_resp",
         "label":"Max number of items per row",
         "default": "3,1",
         "placeholder": "E.g: 4,3,2"
      },
      {
         "type":"select",
         "id":"style",
         "label":"Style",
         "options":[
           {
             "value":"1",
             "label":"1"
           },
           {
             "value":"2",
             "label":"2"
           }
         ],
         "default": "1"
      }
   ],
   "blocks": [
     {
        "type":"content",
        "name":"Content",
        "limit": 6,
        "settings":[
          {
             "type":"text",
             "id":"svg",
             "label":"SVG"
          },
          {
             "type":"image_picker",
             "id":"image",
             "label":"Image"
          },
          {
             "type":"text",
             "id":"title",
             "label":"Title"
          },
          {
             "type":"textarea",
             "id":"content",
             "label":"Content"
          }
        ]
     }
   ],
   "presets": [
      {
   		"name": "Icon box",
         "category": "Banner",
         "blocks": []
      }
   ]
}
{% endschema %}