{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign sectionType  = 'newsletter'
  assign _lazyload    = true
  assign _formType    = section.settings.form_type
  assign _formURL     = section.settings.form_url
  assign _btn_class   = section.settings.btn_class | handle
  assign _btn_style   = section.settings.btn_style
-%}

{%- capture section_class -%}
	{{- -}}home-newsletter
	{{- -}}|section-{{- section.id -}}
	{{- -}}|layout-{{- _layout -}}
  {%- render 'bgset' ,class: 'bg-image' ,image: section.settings.section_bg_image -%}
{%- endcapture -%}{%- assign section_class = section_class | strip_newlines | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}


{%- capture gridClass -%}{%- render 'set-item-per-row', value: _items_resp -%}{%- endcapture -%}

<div class="{{section_class}}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
  	<div class="section_content-wrapper">
		
  		<div class="section_content-head">
  			{%- include 'snippet-theme', type: 'sectionHeading', section_css: section_css -%}
  		</div>
  		<div class="section_content-body">
  			{%- render 'subscribe-form', type: _formType, url: _formURL, btnStyle: _btn_class -%}
        {%- if _btn_style != blank -%}
          {%- capture block_css -%}
            {{- sectionID }} .section_content-body .{{_btn_class }} { {%- render 'css-resp', type: 'value', css_value: _btn_style -%} }
          {%- endcapture -%}
          {%- assign section_css = section_css | append: block_css -%}
        {%- endif -%} 
  		</div>
  	</div>
  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>

{%- capture sectionCss -%}
  {%- liquid
    echo section_css
    render 'snippet-theme', type: 'sectionCSS', ID: sectionID 
  -%}
{%- endcapture -%}{%- assign sectionCss = sectionCss | strip_newlines -%}
{%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}

{% schema %}
{
   "name": "Newsletter",
   "tag": "section",
   "settings": [
      {
         "type": "paragraph",
         "content": "Created by 'Newsletter' section"
      },
      {
         "type": "text",
         "id": "title",
         "label": "Section Label [:id]",
         "default": "Newsletter"
      },
      {
         "type": "header",
         "content": "LAYOUT"
      },
      {
         "type": "checkbox",
         "id": "boxed_layout",
         "label": "Boxed layout",
         "default": true
      },
      {
         "type"  :"text",
         "id"    :"section_padding",
         "label" :"Section Padding",
         "placeholder": "E.g: 5px 20px 5px 20px",
         "info": "Order: Top Right Bottom Left"
      },
      {
         "type":"color",
         "id":"section_bg_color",
         "label":"Background color"
      },
      {
        "type":"image_picker",
        "id":"section_bg_image",
        "label":"Background image"
      },
      {
        "type":"select",
        "id"   :"section_bg_size",
        "label":"Background Size",
        "default": "cover",
        "options":[
        {"value":"auto","label":"Auto"},
        {"value":"cover","label":"Cover"},
        {"value":"contain","label":"Contain"}
        ]
      },
      {
        "type": "select",
        "id": "section_bg_repeat",
        "label": "Background Image Repeat:",
        "default": "no-repeat",
        "options": [
        {"value":"no-repeat","label":"No Repeat"},
        {"value":"repeat","label":"Repeat"},
        {"value":"repeat-x","label":"Repeat X"},
        {"value":"repeat-y","label":"Repeat Y"}
        ]
      },
      {
        "type": "select",
        "id": "section_bg_position",
        "label": "Background Image Position:",
        "default": "center center",
        "options": [
        {"value":"left top","label":"Left Top"},
        {"value":"center top","label":"Center Top"},
        {"value":"right top","label":"Right Top"},
        {"value":"left center","label":"Left Center"},
        {"value":"center center","label":"Center Center"},
        {"value":"right center","label":"Right Center"},
        {"value":"left bottom","label":"Left Bottom"},
        {"value":"center bottom","label":"Center Bottom"},
        {"value":"right bottom","label":"Right Bottom"}
        ]
      },
      {
         "type":"header",
         "content":"Form settings"
      },
      {
         "type":"select",
         "id":"form_type",
         "label":"Form Type:",
         "options":[
         {
            "value":"mailchimp",
            "label":"Mailchimp"
         },
         {
            "value":"klaviyo",
            "label":"Klaviyo"
         }
         ],
         "default":"mailchimp"
      },
      {
         "type":"textarea",
         "id":"form_url",
         "label":"Form URL"
      },
      {
         "type":"paragraph",
         "content":"Mailchimp: [Where do I get my MailChimp Form Action](https:\/\/www.arenacommerce.com\/blogs\/faq\/shopify-theme-how-to-get-a-mailchimp-form-action-url)"
      },
      {
         "type":"paragraph",
         "content":"KLAVIYO: [Sign up](https:\/\/www.klaviyo.com\/partner\/signup?utm_source=0010V00002PVTlf&utm_medium=partner)"
      },
      {
         "type":"text",
         "id":"btn_class",
         "label":"Button Custom class",
         "placeholder": "uniqueClass"
      },
      {
         "type":"html",
         "id":"btn_style",
         "label":"Custom styls",
         "placeholder": "E.g: font-size: 21px;\ncolor: #f00000;.."
      },
      {
         "type":"header",
         "content":"Section Heading"
      },
      {
         "type":"text",
         "id":"sectionHeading_text_1",
         "label":"Heading"
      },
      {
         "type":"text",
         "id":"sectionHeading_text_2",
         "label":"Subheading"
      },
      {
         "type":"select",
         "id":"sectionHeading_align",
         "label":"Alignment",
         "options":[
            {"value":"auto","label":"Auto"},
            {"value":"left","label":"Left"},
            {"value":"center","label":"Center"},
            {"value":"right","label":"Right"}
         ],
         "default":"auto"
      },
      {
         "type":"color",
         "id":"sectionHeading_cl_1",
         "label":"Heading color",
         "info": "Blank to inherit"
      },
      {
         "type":"color",
         "id":"sectionHeading_cl_2",
         "label":"Subheading color",
         "info": "Blank to inherit"
      }
   ],
   "presets": [
      {
   		"name": "Newsletter",
         "category":"Promotional"
      }
   ]
}
{% endschema %}