{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign sectionType    = 'featured-blog'
  assign _lazyload      = true
  assign _total 		    = section.settings.total | times: 1
  assign _items_resp 	  = section.settings.items_resp | default: '5,3,2'
  assign _enable_slider = section.settings.enable_slider
  assign _blog          = section.settings.blog
  assign blog           = blogs[_blog]
-%}

{%- capture section_class -%}
	{{- -}}home-blog
	{{- -}}|section-{{- section.id -}}
	{{- -}}|layout-{{- _layout -}}
  {%- render 'bgset' ,class: 'bg-image' ,image: section.settings.section_bg_image -%}
{%- endcapture -%}{%- assign section_class = section_class | strip_newlines | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}

{%- capture gridClass -%}{%- render 'set-item-per-row', value: _items_resp -%}{%- endcapture -%}

{%- capture content -%}
<div class="{{section_class}}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
  	<div class="section_content-wrapper">

      {%- unless section.settings.sectionHeading_text_1 == blank and section.settings.sectionHeading_text_2 == blank -%}
        <div class="section_content-head">
          {%- include 'snippet-theme', type: 'sectionHeading', section_css: section_css -%}
        </div>
      {%- endunless -%}

  		<div class="section_content-body">


        <div class="row{% if _enable_slider %} slide_ui-element{% endif %}">
          {%- if _blog != blank and blog.articles_count > 0 -%}

            {%- for article in blog.articles limit: _total -%}
              <section class="blog-section {{gridClass}}">
                {%- render 'article-item', article: article -%}
              </section>
            {%- endfor -%}
          {%- else -%}
            {%- assign _total = _total | minus: 1 -%}
            {%- for i in (0.._total) -%}
              <section class="blog-section {{gridClass}}">
                {%- include 'svgset', type: 'empty-article', svg_group: 'svg_groups' -%}
              </section>
            {%- endfor -%}
          {%- endif -%}
        </div>

        {%- if _enable_slider -%}
          {%- render 'set-item-per-row', value: _items_resp, type: 'slider', itemClass: 'blog-section', gutter: '30' -%}
        {%- endif -%}

  		</div>
  	</div>
  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>

{%- capture sectionCss -%}
  {%- liquid
    echo section_css
    render 'snippet-theme', type: 'sectionCSS', ID: sectionID
  -%}
{%- endcapture -%}{%- assign sectionCss = sectionCss | strip_newlines -%}
{%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}
{%- endcapture -%}
{%- render 'compress', content: content -%}
{% schema %}
{
   "name": "Blog posts",
   "tag": "section",
   "settings": [
      {
         "type": "paragraph",
         "content": "Created by 'Blog' section"
      },
      {
         "type": "text",
         "id": "title",
         "label": "Section Label [:id]",
         "default": "Blog posts"
      },
      {
         "type": "header",
         "content": "LAYOUT"
      },
      {
         "type": "checkbox",
         "id": "boxed_layout",
         "label": "Boxed layout",
         "default": true
      },
      {
         "type"  :"text",
         "id"    :"section_padding",
         "label" :"Section Padding",
         "placeholder": "E.g: 5px 20px 5px 20px",
         "info": "Order: Top Right Bottom Left"
      },
      {
         "type":"header",
         "content":"Blog settings"
      },
      {
         "type":"blog",
         "id":"blog",
         "label":"Blog"
      },
      {
         "type":"text",
         "id":"total",
         "label":"Total items",
         "default": "6",
         "placeholder": "E.g: 6"
      },
      {
         "type"  :"text",
         "id"    :"items_resp",
         "label":"Max number of items per row",
         "default": "3,1",
         "placeholder": "E.g: 3,1"
      },
      {
         "type":"header",
         "content":"Slider settings"
      },
      {
         "type":"checkbox",
         "id":"enable_slider",
         "label":"Enable Slider"
      },
      {
         "type":"checkbox",
         "id":"slide_nav",
         "label":"Show Nav",
         "default": true
      },
      {
         "type":"checkbox",
         "id":"slide_dot",
         "label":"Show Dot",
         "default": true
      },
      {
         "type":"header",
         "content":"Section Heading"
      },
      {
         "type":"text",
         "id":"sectionHeading_text_1",
         "label":"Heading"
      },
      {
         "type":"text",
         "id":"sectionHeading_text_2",
         "label":"Subheading"
      },
      {
         "type":"select",
         "id":"sectionHeading_align",
         "label":"Alignment",
         "options":[
            {"value":"auto","label":"Auto"},
            {"value":"left","label":"Left"},
            {"value":"center","label":"Center"},
            {"value":"right","label":"Right"}
         ],
         "default":"auto"
      },
      {
         "type":"color",
         "id":"sectionHeading_cl_1",
         "label":"Heading color",
         "info": "Blank to inherit"
      },
      {
         "type":"color",
         "id":"sectionHeading_cl_2",
         "label":"Subheading color",
         "info": "Blank to inherit"
      }
   ],
   "blocks": [
   ],
   "presets": [
      {
   		"name": "Blog posts",
         "category": "Blog",
         "blocks": []
      }
   ]
}
{% endschema %}