<div class="sidebar">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'search' -%}
        <div class="sb-widget">
          <div class="sb-wrapper">
            <div class="sb-search">
              <form id="search" class="form-search" action="/search" method="get">
                <input name="q" type="text" class="form-control" placeholder="Search" autocomplete="off">
                {% render 'svg' type: 'search' %}
              </form>
            </div>
          </div>
        </div>
      {% comment %} end {% endcomment %}
      {%- when 'categories' -%}
        {%- liquid 
          assign blog_list =  block.settings.blog_list | split: ','
        -%}
        <div class="sb-widget">
          <div class="sb-wrapper">
            <div class="sb-categories">
              <div class="title"> 
                <span>{{block.settings.title}}</span>
              </div>
              <div class="sb-categories__list">
                {%- for blog_hanlde in blog_list -%}
                  {%- liquid 
                    assign blog_handle_new =  blog_hanlde | strip | strip_newlines
                    assign blog_selected =  blogs[blog_handle_new]
                  -%}
                  {%- if blog_selected != blank -%}
                    <div class="sb-categories__item">
                      <div class="label">
                        <a href="{{blog_selected.url}}">{{blog_selected.title}}</a>
                      </div>
                      <div class="number">
                        <span>({{blog_selected.articles_count}})</span>
                      </div>
                    </div>
                  {%- endif -%}
                {%- endfor -%}
                
              </div>
            </div>
          </div>
        </div>
      {% comment %} end {% endcomment %}
      {%- when 'blog_list' -%}
        <div class="sb-widget">
          <div class="sb-wrapper">
            <div class="sb-blog-list">
              <div class="title">
                <span>{{block.settings.title}}</span>
              </div>
              <div class="sb-blog-list__wrapper">
                {%- for article in blogs[block.settings.blog].articles -%}
                  <div class="sb-blog-list__item">
                    <div class="article-image">
                      <a href="{{article.url}}">
                        {% render 'image-style' image: article.image %}
                      </a>
                    </div>
                    <div class="article-info">
                      <div class="title">
                        <a href="{{article.url}}">
                          <span>{{article.title}}</span>
                        </a>
                      </div>
                      <div class="post-day">
                        <span>{{article.published_at | date: '%b %d, %Y'}}</span>
                      </div>
                    </div>
                  </div>
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      {% comment %} end {% endcomment %}
      {%- when 'block_custom' -%}
        {{block_custom}}
      {% comment %} end {% endcomment %}
    {%- endcase -%}
  {%- endfor -%}
</div>
