{%- case type -%}
  {%- when 'themes' -%}
    {%- assign title = 'Shopify Themes' -%}
  {%- when 'apps' -%}
    {%- assign title = 'Shopify Apps' -%}
  {%- when 'blog' -%}
    {%- assign title = 'Company' -%}
  {%- when 'task' -%}
    {%- assign title = 'Shopify Services' -%}
  {%- else -%}
    {%- assign title = "Home" -%}
{%- endcase -%}
{%- if template contains 'product' and collection == blank -%}
  {%- assign collection  = product.collections[0] -%}
{%- endif -%}
<div class="wrapper_breadcrumb">
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    {%- if type == 'task' -%}
      {%- assign handle = shop.metafields.c_f.root_collection_task -%}
      {%- assign root_collection  = collections[handle] -%}
      <a href="{{root_collection.url}}" class="title">{{title}}</a>
    {%- else -%}
      <a href="{{collection.url}}" class="title">{{title}}</a>
    {%- endif -%}

    {% if template contains 'collection' %}
      {%- if collection.metafields.c_f.collection_parent != blank -%}
        {%- assign collection_parent = collections[collection.metafields.c_f.collection_parent] -%}
        <a href="{{collection_parent.url}}">{{collection_parent.title}}</a>
        {% comment %} <span aria-hidden="true"> ></span> {% endcomment %}
        <span>{{page_title}}</span>
      {%- else -%}
        <span>{{ page_title }}</span> 
      {%- endif -%}
    {% endif %}

    {% if template contains 'product' %}
      {%- case type -%}
        {%- when 'task' -%}
          {% liquid 
            assign handle = collection.metafields.c_f.collection_parent 
            if handle != blank 
              assign collection_parent = collections[handle] 
            endif 
          %}
          {%- if collection_parent != blank -%}
            <a href="{{collection_parent.url}}">{{collection_parent.title}}</a>
            {% comment %} <span aria-hidden="true"> ></span> {% endcomment %}
          {%- endif -%}

          {%- if collection.url -%}
            <a href="{{collection.url}}">{{collection.title}}</a>
          {%- endif -%}
          {% comment %} <span aria-hidden="true"> ></span> {% endcomment %}
          <span>{{ page_title }}</span>  
        {% comment %} end {% endcomment %}
        {%- else -%}
          {%- if collection.url -%}
            <a href="{{collection.url}}">{{title}}</a>
            {% comment %} <span aria-hidden="true"> ></span> {% endcomment %}
          {%- endif -%}
          <span>{{ page_title }}</span>  
      {%- endcase -%}
    {% endif %}
    
    {% if template contains 'article' %}
      <a href="{{blog.url}}">{{blog.title}}</a>
      <span>{{ page_title }}</span>
    {% endif %}

    {%- if template contains 'customer' -%}
      
    {%- endif -%}
  </nav>
</div> 