{%- case type -%}
  {%- when 'themes' -%}
    {%- assign title = 'Shopify Themes' -%}
  {%- when 'apps' -%}
    {%- assign title = 'Shopify Apps' -%}
  {%- when 'blog' -%}
    {%- assign title = 'Company' -%}
  {%- when 'task' -%}
    {%- assign title = 'Shopify Services' -%}
{%- endcase -%}
<div class="wrapper_breadcrumb">
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    <a href="{{collection.url}}" class="title">{{title}}</a>

    {% if template contains 'product' %}
      {%- case type -%}
        {%- when 'task' -%}
          {% liquid 
            assign handle = collection.metafields.c_f.collection_parent 
            if handle != blank 
              assign collection_parent = collections[handle] 
            endif 
          %}
          {%- if collection_parent != blank -%}
            <a href="{{collection_parent.url}}">{{collection_parent.title}}</a>
            <span aria-hidden="true"> ></span>
          {%- endif -%}

          {%- if collection.url -%}
            <a href="{{collection.url}}">{{collection.title}}</a>
          {%- endif -%}
          <span aria-hidden="true"> ></span>
          <span>{{ page_title }}</span>  
        {% comment %} end {% endcomment %}
        {%- else -%}
          {%- if collection.url -%}
            <a href="{{collection.url}}">{{title}}</a>
            <span aria-hidden="true"> ></span>
          {%- endif -%}
          <span>{{ page_title }}</span>  
      {%- endcase -%}
    {% endif %}
    
    {% if template contains 'article' %}
      <a href="{{blog.url}}">{{blog.title}}</a>
      <span aria-hidden="true"> ></span>
      <span>{{ page_title }}</span>
    {% endif %}

    {% if template contains 'collection' %}
      {%- if collection.metafields.c_f.collection_parent != blank -%}
        {%- assign collection_parent = collections[collection.metafields.c_f.collection_parent] -%}
        <a href="{{collection_parent.url}}">{{collection_parent.title}}</a>
        <span aria-hidden="true"> ></span>
        <span>{{page_title}}</span>
      {%- else -%}
        <span>{{ page_title }}</span>
      {%- endif -%}
    {% endif %}
  </nav>
</div>