{%- case type -%}
  {%- when 'product' -%}
    {% liquid 
      assign image = product.featured_image
    %}
      <div class="card card-product">
        <div class="card-img-top">
          <a href="{{product.url}}">
            {%- render 'image-style', image: image, originQuality: true -%}
          </a>
        </div>
        <div class="card-body">
          <div class="card-body__tile">
            <span class="title">{{product.title}}</span>
            <span class="price">{{product.price | money }}</span>
          </div>
          <div class="card-body__variants">
            <div class="card-body__variants-label">
              <span>{{product.metafields.c_f.total_variant | default: 0}}</span>
              <span>{{ 'general.card.product.label_variants' | t }}</span>
            </div>
            <div class="card-body__variants-link">
              <a href="#">
                {% render 'svg', type: 'arrow-right'  %}
              </a>
            </div>
          </div>

        </div>
      </div>
{%- endcase -%}