<div id="cartShopping" class="cart-container">
	<div class="cart-head text-center">
		<h3><a href="{{routes.cart_url}}">Shopping Cart</a></h3>
		<p>{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</p>
	</div>
	<div class="cart-body">
		<div class="cart-body-inner">
			{%- if cart.items.size == 0 -%}
				<span>No item in your cart</span>
			{%- else -%}
				{%- for item in cart.items -%}
					{%- liquid
					 	assign currentProduct 	= item.variant
					 	assign product 			= item.product
					 	assign image 			= currentProduct.featured_image | default: product.featured_image
					 	assign img_url 			= image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
					-%}
					<div class="cart-item-block mb-3">
						<div class="row no-gutters">
							<div class="col-3">
								<div class="featured_product__item-image">
									<a href="{{product.url | within: collection }}" class="image--style" style="padding-top:{% unless image == blank %}{{ 1 | divided_by: image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
										<img class="lazyload img_lazy"
										data-src="{{ img_url }}"
										data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
										data-aspectratio="{{ image.aspect_ratio }}"
										data-sizes="auto"
										alt="{{ image.alt }}"/>
									</a>
								</div>
							</div>
							<div class="col-9">
								<div class="featured_product__item-info pl-2">
									<h6><a href="{{product.url | within: collection }}">{{product.title}}</a></h6>

									<div class="product-price">
										{%- assign compare_price = currentProduct.compare_at_price -%}
										{%- assign price         = currentProduct.price -%}

										{%- if compare_price > price -%}

											<span class="price-compare">{{ compare_price | money }}</span>
											<span class="price-sale">{{ price | money }}</span>
										{%- else -%}
											<span class="price-single">{{ price | money }}</span>
										{%- endif -%}
									</div>
									<div class="product-qty">
										<span>{{ item.quantity }}x {{ item.quantity | pluralize: 'item', 'items' }}</span>
										<a href="javascript:void(0);" class="ml-3 cart-remove-item" data-item-key="{{ item.key }}">Remove</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{%- endfor -%}
			{%- endif -%}

		</div>
	</div>
	<div class="cart-foot">
		<div class="text-center">
			<a href="javascript:void(0);" class="clear-cart-items">Clear All Items</a>
		</div>
	</div>
</div>