{%- case type -%}
  {%- when 'text_box' -%}
    {% liquid 
      assign heading      = block.settings.heading
      assign subheading   = block.settings.subheading
      assign btn_url      = block.settings.btn_url
      assign btn_title    = block.settings.btn_title
      assign text_color   = block.settings.text_color
      assign custom_html  = block.settings.custom_html
    %}
    <div class="custom-content__item__text-box" data-block-id="{{block.id}}">
      <div class="text-box-group">
        <div class="title">
          <div class="heading">
            <span class="content">{{heading}}</span>
          </div>
          <div class="subheading">
            <span class="content">{{subheading}}</span>
          </div>
          <div class="custom-html">
            {{custom_html}}
          </div>
        </div>
        {%- if btn_title != blank -%}
          <div class="button">
            <a href="{{btn_url}}" class="btn btn-1">
              <span>{{btn_title}}</span>
              {%- include 'svg', type: 'angle-right' -%}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
    <style>
      {%- if text_color != blank -%}
        .custom-content[data-section-id="{{section.id}}"] .custom-content__item .custom-content__item__text-box[data-block-id="{{block.id}}"] .title{
          color: {{text_color}};
        }
      {%- endif -%}
    </style>
  {%- when 'image' -%}
    {% liquid 
      assign image = block.settings.image
      
    %}
    <div class="custom-content__item__image">
      <div class="image-position">
        {%- render 'image-style', image: image -%}
      </div>
    </div>
    
{%- endcase -%}
