{%- case type -%}
  {%- when 'text_box' -%}
    {% liquid 
      assign heading    = block.settings.heading
      assign subheading = block.settings.subheading
      assign btn_url    = block.settings.btn_url
      assign btn_title  = block.settings.btn_title
    %}
    <div class="custom-content__item__text-box">
      <div class="text-box-group">
        <div class="title">
          <div class="heading">
            <span class="content">{{heading}}</span>
          </div>
          <div class="subheading">
            <span class="content">{{subheading}}</span>
          </div>
        </div>
        <div class="button">
          <a href="{{btn_url}}" class="btn btn-1">
            <span>{{btn_title}}</span>
            {%- include 'svg', type: 'arrowRight' -%}
          </a>
        </div>
      </div>
    </div>
  {%- when 'image' -%}
    {% liquid 
      assign image =  block.settings.image
      assign img_url = block.settings.img_url 
    %}
    <div class="custom-content__item__image">
      <a href="{{img_url}}">
        {%- render 'image-style', image: image -%}
      </a>
    </div>
{%- endcase -%}
