{% liquid 
  assign layout             = section.settings.layout
  assign heading            = section.settings.heading
  assign subheading         = section.settings.subheading
  assign text_align         = section.settings.text_align
  assign linking_words      = section.settings.linking_words
  assign text_under_content = section.settings.text_under_content
  assign text_under_url     = section.settings.text_under_url
  assign text_under_align   = section.settings.text_under_align
  assign _collection        = section.settings.collection
  assign collection         = collections[_collection]
%}


<div class="featured-collection" data-section-id="{{section.id}}" data-section-type="featured-collection">
  {% if layout == 'boxed' %} <div class="container"> {%- endif -%}
    <div class="featured-collection__wrap">
      <div class="featured-collection__title text-{{text_align}} section_title-wrapper">
        <div class="heading section_title-text-1">
          <span class="content">{{heading}}</span>
        </div>
        <div class="subheading section_title-text-2">
          <span class="content">{{subheading}}</span>
        </div>
      </div>
      <div class="featured-collection__content">
        <div class="js-tns" data-config='tns_config_{{section.id}}'>
          {%- for product in collection.products -%}
              <div class="featured-collection__item">
                {%- render 'card-template', type: 'product', product: product, collection: collection -%}
              </div>
          {%- endfor -%}
        </div>
        <div class="js-tns-controls section-{{section.id}} d-none">
          <div class="btn-prev">
            {% render 'svg', type: 'angle-left'  %}
          </div>
          <div class="btn-next">
            {% render 'svg', type: 'angle-right'  %}
          </div>
        </div>
        <script type="application/ld+json" id="tns_config_{{section.id}}">
          {
            "loop": false,
            "nav": false,
            "mouseDrag": true,
            "swipeAngle": false,
            "preventActionWhenRunning": true,
            "preventScrollOnTouch": "auto",
            "slideBy": 1,
            "responsive": {
              "1": {
                "items": 1.7,
                "gutter": 25
              },
              "479": {
                "items": 2.5
              },
              "768": {
                "items": 3
              },
              "992": {
                "items": 3.5,
                "gutter": 35
              },
              "1052": {
                "items": 4,
                "gutter": 30
              },
              "1440": {
                "items": 5
              }
            }
          }
        </script>
      </div>
      {%- if text_under_content != blank -%}
        <div class="featured-collection__text-under text-{{text_under_align}}">
          <span>{{linking_words}}</span>
          <a href="{{text_under_url | default: 'javascript:void(0)'}}">{{text_under_content}}</a>
        </div>
      {%- endif -%}
    </div>
  {% if layout == 'boxed' %} </div> {%- endif -%}
</div>