{%- case type -%}
  {%- when 'infomation' -%} 
    {% liquid 
      assign desc    = block.settings.desc
      assign payment = block.settings.payment
      assign max_width_logo_desktop = block.settings.max_width_logo_desktop
      assign max_width_logo_mobile = block.settings.max_width_logo_mobile
    %}
    <div class="footer-top__item infomation" data-block-id="{{block-id}}" {{block.shopify_attributes}}>
      <div class="logo">
        <a href="/">
          {% render 'svg' ,type: 'logo-footer' %}
        </a>
      </div>
      <div class="description">
        <span class="content">{{desc}}</span>
      </div>
      <div class="payment">
        {% render 'svg' type: "payment-paypal" %}
        {% render 'svg' type: "payment-visa" %}
        {% render 'svg' type: "payment-american-express" %}
        {% render 'svg' type: "payment-master-card" %}
        {% render 'svg' type: "payment-discover" %}
      </div>
    </div>
    {% comment %} Style block Infomation {% endcomment %}
    <style></style> 
  {%- when 'menu_item' -%}
    {% liquid  
      assign title = block.settings.title 
      assign menu = block.settings.menu 
    %}
    <div class="footer-top__item menu-item collapse" data-block-id="{{block.id}}" {{block.shopify_attributes}}>
      <div class="title">
        <span class="content">{{title}}</span>
        <span class="js-handle-collapse expand d-md-none">
          {% render 'svg' type: 'angle-up' %}
          {% render 'svg' type: 'angle-down' %}
        </span>
      </div>
      <ul class="d-md-block menu-list">
        {%- for link in linklists[menu].links -%}
          <li class="menu-list__item"><a href="{{link.url}}">{{link.title}}</a></li>
        {%- endfor -%}
      </ul>
    </div>
{%- endcase -%}