{% liquid 
  assign nav_link = section.settings.nav_link 
%}

<div class="js-nav-mobile d-lg-none nav-mobile style-{{header_mobile_style}}">
  <div class="nav-mobile__content">
    <div class="nav-mobile__menu-main">
      <ul class="link-list">
        {%- for link in linklists[nav_link].links -%}
          <li class="link-list__item">
            <a href="{{link.url}}">
              <span class="title">{{link.title}}</span>
            </a>
            {%- for block in section.blocks -%}
              {%- if block.type == 'trigger' -%}
                {%- if block.settings.title == link.title -%}
                  <span class="js-btn-collapse icon" data-target="block_{{block.id}}">
                    {% render 'svg' type: 'angle-down' %}
                    {% render 'svg' type: 'angle-up' %}
                  </span>
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
            {%- for block in section.blocks -%}
              {%- if block.type == 'trigger' -%}
                {% liquid 
                  assign title = block.settings.title
                %}
                {%- if title == link.title -%}
                  <ul class="js-collapse dropdown-menu-mobile" id="block_{{block.id}}">
                    {%- for block in section.blocks offset: forloop.index-%}
                      {%- case block.type -%}
                        {%- when 'nav_link_item' -%}
                          {% liquid 
                            assign nav_link = block.settings.nav_link 
                            assign nav_title = block.settings.nav_title 
                            assign icon = block.settings.icon 
                          %}
                          <li>
                            <a href="{{nav_link}}">
                              <span class="icon">
                                {{icon}}
                              </span>
                              <span class="text-box">
                                <span class="title">{{nav_title}}</span>
                              </span>
                            </a>
                          </li>
                        {%- when 'trigger' -%}
                          {%- break -%}
                      {%- endcase -%}
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          </li>   
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>