{%- case type -%}
	{%- when 'icon-list' -%}
		<div class="icon-list">
      <div class="js-search icon-list__item search">
        <a href="javascript:void(0)" id="js-open-search">
          {% render 'svg' , type: 'search' %}
        </a>
        <div class="search-group">
          <form id="search" method="get" action="/search">
            {% render 'svg' , type: 'search' %}
             <a href="javascript:void(0)" id="js-close-search" class="close-search">
              {% render 'svg' , type: 'close' %}
            </a>
            <input type="text" name="q" class="js-input-search"/>
          </form>
          <div class="js-search-result search-result">
            <div class="no-result">
              <div class="title">
                <span>{{ 'search.no_result.title' | t}} "<span class="keyword"></span>"</span>
              </div>
              <div class="subtitle">
                <span>{{ 'search.no_result.subtitle' | t}}</span>
              </div>
            </div>
            <div class="has-results">
              
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block icon-list__item account">
        {%- capture account_url -%}
          {%- if customer -%}
            /account
          {%- else -%}
            /account/login
          {%- endif -%}
        {%- endcapture -%}
        <a href="{{account_url}}">
          {%- include 'svg', type: 'user' -%}
        </a>
      </div>
      <div class="icon-list__item cart">
        <a href="/cart">
          {%- include 'svg', type: 'cart' -%}
          <div class="number">0</div>
        </a>
      </div>
    </div>
  {%- when 'horizontal-nav' -%}
    <div class="horizontal-nav d-none d-lg-flex">
      <ul class="horizontal-nav__content">
        {%- for link in linklists[nav_link].links -%}
          <li class="nav-link">
            <a href="{{link.url}}">
              <span>{{link.title}}</span>
              {%- for block in section.blocks -%}
                {%- if block.type == 'trigger' -%}
                  {% liquid 
                    assign title = block.settings.title
                  %}
                  {%- if title == link.title -%}
                    {% render 'svg-2' type: 'caret-down' %}
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
            </a>
            {%- for block in section.blocks -%}
              {%- if block.type == 'trigger' -%}
                {% liquid 
                  assign title = block.settings.title
                  assign two_column = block.settings.two_column 
                %}
                {%- if title == link.title -%}
                  <ul class="dropdown-menu {% if two_column %}two-column{%- endif -%}">
                    {% render 'header-dropdown-menu-snippets' index: forloop.index , section: section  %} 
                  </ul>
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          </li>   
        {%- endfor -%}
      </ul>
    </div>
  {%- when 'logo' -%}
    <div class="logo">
      <a href="/">
        {% render 'svg' ,type: 'logo' %}
      </a>
    </div>
  {%- when 'icon-menu' -%}
    <div class="d-lg-none icon-list__item menu">
      <a href="javascript:void(0)" class="js-handle-nav-mobile">
        {%- include 'svg', type: 'hamburger' -%}
        {%- include 'svg', type: 'close' -%}
      </a>
    </div>
{%- endcase -%}
<style>
  
</style>