{% liquid 
  assign layout     = section.settings.layout
  assign heading    = section.settings.heading
  assign subheading = section.settings.subheading
  assign btn_title  = section.settings.btn_title
  assign btn_url    = section.settings.btn_url
  assign collection_handle = section.settings.collection 
  assign collection = collections[collection_handle]  
%}

<div class="icons-cart" data-section-id="{{section.id}}" data-section-type="icons-cart">
  {% if layout == 'boxed' %} <div class="container"> {%- endif -%}  
    <div class="icons-cart__wrapper">
      <div class="icons-cart__heading">
        <div class="heading">
          <span class="content">{{heading}}</span>
        </div>
        <div class="subheading">
          <span class="content">{{subheading}}</span>
        </div>
      </div>
      <div class="icons-cart__list">
        <div class="js-tns" data-config='tns_config_{{section.id}}'>
          {%- for product in collection.products -%}
            {% liquid 
              assign title     = product.title
              assign icon_html = product.metafields.c_f.svg
              assign block_url = product.url | within: collection
            %}
            <div class="icons-cart__item">
              <a href="{{block_url}}">
                <div class="wrapper">
                  <div class="icon_box">
                    {{icon_html}}
                  </div>
                  <div class="title">
                    <span class="content">{{title}}</span> 
                  </div>
                </div>
              </a>
            </div>
          {%- endfor -%}
        </div>
        <div class="js-tns-controls section-{{section.id}} d-none">
          <div class="btn-prev">
            {% render 'svg', type: 'angle-left'  %}
          </div>
          <div class="btn-next">
            {% render 'svg', type: 'angle-right'  %}
          </div>
        </div>
        <script type="applicaiton/ld+json" id="tns_config_{{section.id}}">
          {
            "loop": false,
            "mouseDrag": true,
            "swipeAngle": false,
            "nav": false,
            "preventActionWhenRunning": true,
            "preventScrollOnTouch": false,
            "slideBy": 1,
            "responsive": {
              "1": {
                "items": 1.7,
                "gutter": 25
              },
              "479": {
                "items": 2
              },
              "576": {
                "items": 2.5
              },
              "768": {
                "items": 3
              },
              "992": {
                "items": 3.5,
                "gutter": 30
              },
              "1052": {
                "items": 4
              },
              "1440": {
                "items": 5
              }
            }
          }
        </script>
      </div>
      {%- if btn_title != blank -%}
        <div class="icons-cart__button">
          <a href="{{btn_url | default : 'javascript:void(0)'}}" class="btn btn-1">
            <span>{{btn_title}}</span>
            {%- include 'svg', type: 'angle-right' -%}
          </a>
        </div>
      {%- endif -%}
    </div>
  {% if layout == 'boxed' %} </div> {%- endif -%}
</div>