{% liquid 
  assign block_count = section.blocks.size
%}

{%- capture blockCss -%}
  {{- ' ' -}}col-lg-{{ 12 | divided_by: block_count -}}
  {{- ' ' -}}col-12
{%- endcapture -%}

<div class="multiple-banner" data-section-id="{{section.id}}" data-section-type="multiple-banner">
  <div class="container">
    <div class="multiple-banner__wrapper">
      <div class="row">
        {%- for block in section.blocks -%}
          {% liquid 
            assign heading        = block.settings.heading
            assign subheading     = block.settings.subheading
            assign image          = block.settings.image
            assign text_color     = block.settings.text_color
            assign block_bg_color = block.settings.block_bg_color
          %}
          <div class="{{ blockCss | strip_newlines | strip}}">
            <div class="multiple-banner__item block-{{block.id}}" {{block.shopify_attributes}}>
              <div class="multiple-banner__item__content">
                <div class="title">
                  <div class="heading">
                    <span class="content">{{heading}}</span>
                  </div>
                  <div class="subheading">
                    <span class="content">{{subheading}}</span>
                  </div>
                </div>
                <div class="image" style="max-width: {{image.width}}px; margin:auto;">
                  {%- assign image_height = image.height | append: 'px' -%}
                  {%- render 'image-style', image: image, imagePadding: image_height, originQuality: true -%}
                </div>
              </div>
              <style>
                {%- if block.settings.text_color != blank -%}
                  .multiple-banner .multiple-banner__item.block-{{block.id}} .title >div{
                    color: {{text_color}};
                  }
                {%- endif -%}
                {%- if block_bg_color != blank -%}
                  .multiple-banner .multiple-banner__item.block-{{block.id}} {
                    background-color: {{block_bg_color}};
                  }
                {%- endif -%}
              </style>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>