{%- liquid
  if l.url == '#'
    assign l_url = 'javascript:void(0);'
  else
    assign l_url = l.url
  endif

  assign submenu = l.title | handle
-%}

{%- case type -%}
  {%- when 'empty' -%}
      <li class="{{class}} navbar-{{type}}" navlink-index="0"><a href="javascript:void(0);"><span>Lorem ipsum</span></a></li>    
  {%- else -%}

    {%- if linklists[submenu].links.size > 0 -%}
      {%- include 'nav-link-sub', l: l, class: class -%}
    {%- else -%}

      <li class="{{class}}{% if l.active %} active{% endif %}" navlink-index="1">
        <a href="{{ l_url }}">
          <span>{{ l.title }}</span>
        </a>
      </li>
    {%- endif -%}
{%- endcase -%}