{%- case block.type -%}
  {%- when 'separator' -%}
      {%- capture content -%}
      <div class="block-separator block-separator-{{ block.id }} block-{{block.id}} layout-{{_layout }}">
        <div class="container">

          {%- capture separatorID -%}.block-{{block.id}} .spacing-{{block.id}}{%- endcapture -%}
          <div class="separator spacing-{{block.id}}"{{block.shopify_attributes}}>
            {%- capture block_css -%}{%- render 'css-resp', classID: separatorID, css_value: block.settings.height, css_property: 'height' -%}{%- endcapture -%}
          </div>
        </div>
      </div>
    <style>.block-{{block.id}}{background-color:{{_bg_color}};}{{block_css}}</style>
    {%- endcapture -%}
    {%- render 'compress', content: content -%}
  {% comment %} end {% endcomment %}
  {%- when 'banner_text' -%}
    {% liquid 
      assign title = block.settings.block_title 
      assign subtitle = block.settings.subtitle 
    %}
    <div class="banner-text text-center" data-block-id="{{block.id}}" {{block.shopify_attributes}}>
      <div class="banner-text__wrapper">
        <div class="title">
          <h1>{{title}}</h1>
        </div>
        <div class="subtitle">
          <p>{{subtitle}}</p>
        </div>
      </div>
    </div>
  {% comment %} end {% endcomment %}
  {%- when 'custom_content' -%}
    {% liquid 
      assign image_desktop   = block.settings.image_desktop
      assign image_mobile    = block.settings.image_mobile
      assign heading         = block.settings.heading
      assign paragraph     = block.settings.paragraph
      assign paragraph_2     = block.settings.paragraph_2
      assign reverse_order   = block.settings.reverse_order
      assign image_margin    = block.settings.image_margin
      assign image_max_width = block.settings.image_max_width
    %}

    <div class="hero-banner" data-block-id="{{block.id}}"  {{block.shopify_attributes}}>
      <div class="hero-banner__wrapper">
        <div class="d-flex align-items-center">
          <div class="hero-banner__text-box">
            <div class="heading">
              <h2>{{heading}}</h2>
            </div>
            <div class="paragraph-1">
              <span>{{paragraph}}</span>
            </div>
            <div class="d-lg-none image">
              {% render 'image-style'  image: image_mobile %}
            </div>
          </div>
          <div class="d-none d-lg-block hero-banner__image-desktop">
            <div class="image">
              {% render 'image-style' image: image_desktop  %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>
      {%- if image_margin != blank -%}
        .hero-banner[data-block-id="{{block.id}}"] .hero-banner__wrapper .hero-banner__image-desktop{
          margin: {{image_margin}};
        }
      {%- endif -%}
      {%- if image_max_width != blank -%}
        .hero-banner[data-block-id="{{block.id}}"] .hero-banner__wrapper .hero-banner__image-desktop{
          max-width: {{image_max_width}};
        }
      {%- endif -%}
      {%- if bg_color != blank  -%}
        .hero-banner[data-block-id="{{block.id}}"] .hero-banner__wrapper {
          background: {{bg_color}};
        }
      {%- endif -%}
      {%- if list_type != 'default' -%}
        .hero-banner[data-block-id="{{block.id}}"] .hero-banner__wrapper .hero-banner__text-box .paragraph-2 li{
          list-style: none;
        }
      {%- endif -%}
    </style>
  {% comment %} end {% endcomment %}
  {%- when 'FAQ' -%}
    {% liquid 
      assign image = block.settings.image
      assign title = block.settings.title
    %}
    <div class="faq" data-block-id="{{block.id}}" {{block.shopify_attributes}}>
      <div class="faq__wrapper">
        <div class="d-none d-lg-block image">
          {% render 'image-style' image: image  %}
        </div>
        <div class="faq__content">
          <div class="title">
            <span>{{title}}</span>
          </div>
          {%- for i in (1..3) -%}
            {% liquid 
              assign question = 'question_' | append: i 
              assign answer = 'answer_' | append: i 
            %}
            <div class="faq__item">
              <div class="js-btn-collapse question {% if forloop.first %}show{%- endif -%}" data-target="collapse_{{block.id}}_{{i}}">
                <div class="title"><span>{{block.settings[question]}}</span></div>
                {% render 'svg' type: 'angle-down' %}
                {% render 'svg' type: 'angle-up' %}
              </div>
              <div class="js-collapse answer {% if forloop.first %}show{%- endif -%}" id="collapse_{{block.id}}_{{i}}">
                <span>{{block.settings[answer]}}</span>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  {% comment %} end {% endcomment %}
  {%- when 'appointment' -%}
    {% liquid 
      assign image = block.settings.image
      assign title = block.settings.title
      assign subtitle = block.settings.subtitle
    %}

    <div class="appointment">
      <div class="appointment__wrapper">
        <div class="appointment__form">
          {%- form 'contact' -%}
            <div class="heading">
              <div class="title">
                <span>{{title}}</span>
              </div>
              <div class="subtitle">
                <span>{{subtitle}}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="fullname">{{ 'form.full_name' | t}}</label>
              <input type="text" name="contact[Full Name]" class="form-control" placeholder="{{ 'form.full_name_placeholder' | t}}">
            </div>
            
            <div class="form-group">
              <label for="email">{{ 'form.email' | t}}</label>
              <input type="text" name="contact[Email]" class="form-control" placeholder="{{ 'form.email_placeholder' | t}}">
            </div>

            <div class="form-group">
              <label for="company">{{ 'form.company' | t}}</label>
              <input type="text" name="contact[Company]" class="form-control" placeholder="{{ 'form.company_placeholder' | t}}">
            </div>

            <div class="form-group">
              <label for="skype">{{ 'form.skype' | t}}</label>
              <div class="input-group">
                {% render 'svg' type: 'skype' %}
                <input type="text" name="contact[Skype]" class="form-control" placeholder="{{ 'form.skype_placeholder' | t}}">
              </div>
            </div>

            <div class="form-check">
              <input type="checkbox" id="terms_and_conditions"class="form-check-input" required>
              {%- capture link -%}
                <a href="#">{{ 'form.terms_and_conditions_link' | t}}</a>
              {%- endcapture -%}
              <label for="terms_and_conditions" class="form-check-label">{{ 'form.terms_and_conditions_html' | t: link: link}}</label>
            </div>

            <button class="w-100 btn btn-2" type="submit">{{ 'form.btn.appointment' | t}}</button>
          {%- endform -%}
        </div>
        <div class="image">
          {% render 'image-style' image: image %}
        </div>
      </div>
    </div>
    {% comment %} end {% endcomment %}
{%- endcase -%}
